{% extends "events/layout.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
{{ super() }}
<form id="edit-event" action="/events/{{ event.id }}" method="POST">
  <input name="_csrf"   value="{{ csrf }}" type="hidden">

  <div class="ui-wrapper ui-body">
    <div id="details-pane" class="ui-section">
      <div class="gallery-sidebar">
        {% if event.picture %}
         <img id="event-picture" src="{{ event.picture }}" onerror="this.style.display='none'" />
        {% endif %}
        {% if event.registerLink %}
         <div id="event-registration">
           <a id="registerLink" href="{{ event.registerLink }}">Sign up for the event <span class="icon-chevron-right"></span></a>
           <p>This link will take you to an external event registration service, such as Eventbrite.</p>
         </div>
        {% endif %}
      </div>
      <span><div id="event-description">
        <h1 class="show">{{ event.title }}</h1>
        <span class="edit hidden">
          <input type="text" name="title" placeholder="{{ event.title }}" />
        </span>
        <div id="event-whenwhere">
          <div class="temporal-local">
            <span class="show">
            {% if event.beginDate or event.endDate or event.beginTime %}
              <img class="calendar-icon" src="/img/map/calendar.png" />
              <div class="datetime-range">
                <div>
                  {{ event.beginDate }}
                    {% if event.beginDate and event.endDate %} - {% endif %}
                  {{ event.endDate }}
                </div>
                <div>
                  {{ event.beginTime }}
                    {% if event.beginTime and event.endTime %} - {% endif %}
                  {{ event.endTime }}
                </div>
              </div>
            {% endif %}
            </span>
            <span class="edit hidden">
              <img class="calendar-icon" src="/img/map/calendar.png" />
              <div class="datetime-range">
                <div> <input type="text" name="beginDate" class="datepicker" placeholder="{{ event.beginDate }}" />
                    - <input type="text" name="endDate"   class="datepicker" placeholder="{{ event.endDate }}" />
                </div>
                <div> <input type="text" name="beginTime" class="timepicker" placeholder="{{ event.beginTime }}" />
                    - <input type="text" name="endTime"   class="timepicker" placeholder="{{ event.endTime }}" />
                </div>
              </div>
            </span>
          </div>
          <div class="temporal-local">
            {% if event.address %}
             <span class="show">
               <img class="pin-icon" src="/img/map/pin-event-red.png" />
               <div class="address">{{ event.address }}</div>
             </span>
            {% endif %}
            <span class="edit hidden">
              <img class="pin-icon" src="/img/map/pin-event-red.png" />
              <input type="text" name="address" class="edit address" placeholder="{{ event.address }}" />
            </span>
          </div>
        </div>
        <div id="event-organizer">
          <img src="https://www.gravatar.com/avatar/{{ event.organizerHash }}" />
          <span>Organized by <strong class="organizer">{{ event.organizerId }}</strong></span>
        </div>
        {% if email and event.organizer == email %}
         <div>
           <span class="show">
             <button id="edit-mode" type="button"   class="owner-btn ui-btn">Edit</button>
           </span>
           <span class="edit hidden">
             <button id="save-edit" class="owner-btn ui-btn"
                 type="submit" name="_method" value="PATCH">Save</button>
             <button id="cancel-edit" type="button" class="owner-btn ui-btn">Cancel</button>
             <button id="delete-event" class="owner-btn ui-btn"
                 type="submit" name="_method" value="DELETE">Delete</button>
           </span>
         </div>
        {% endif %}
        <span class="show">
          <p>{{ event.description }}</p>
        </span>
        <span class="edit hidden">
          <textarea name="description" data-provide="markdown">{{ event.desc_src | escape }}</textarea>
        </span>

        <div class="clear"></div>
      </div></span>
    </div>
    <div id="bottom-stripe"></div>
  </div>
</form>
{% endblock %}
