{% extends "events/layout.html" %}

{% block title %}Event Metrics{% endblock %}

{% block body %}
{{ super() }}

<div class="dashboard">
  <div class="metrics">
    <div class="squares">
      <div class="square blue desaturate">
        {{ stats.total_events|intcomma }}
        Total Events
        Submitted by {{ stats.users|intcomma }} users
      </div>
      <div class="square gray">
        {{ stats.upcoming_events|intcomma }}
        Upcoming Events
      </div>
    </div>
    <div class="rectangle">
      {{ stats.total_attendees|intcomma }}
      Attendees
      in {{ stats.cities|intcomma }} Cities

      Across {{ stats.countries|intcomma }} Countries
    </div>
  </div>

{% endblock %}
