{% extends "events/layout.html" %}

{% block title %}Event Metrics{% endblock %}

{% block body %}
{{ super() }}

<div class="dashboard">
  <div class="metrics">
    <div class="squares">
      <div class="square blue">
        <span class="value">{{ stats.total_events|intcomma }}</span>
        Total Events
        Submitted by
        <span class="value">{{ stats.users|intcomma }}</span> users
      </div>
      <div class="square gray">
        <span class="value">{{ stats.upcoming_events|intcomma }}</span> Upcoming Events
      </div>
    </div>
    <div class="rectangle">
      <span class="value">{{ stats.total_attendees|intcomma }} </span>
      <span class="value">Attendees </span>
      in <span class="value">{{ stats.cities|intcomma }}</span> Cities

      Across <span class="value">{{ stats.countries|intcomma }}</span> Countries
    </div>
  </div>

{% endblock %}
