{% macro makeTags() %}
  {% if make.rawTags.length %}
  <div class="tag-container">
    {% for tag in make.rawTags %}
      {%- if loop.index <= 10 %}
      <a class="tag" href="/t/{{tag}}">#{{tag}}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endmacro %}

{% macro likeText(likes) %}
  <span class="like-text">
    {% if likes.length %}
      {{ gettext("Like-1") if likes.length == 1 else gettext("Like-n") }}
    {% else %}
      {{ gettext("Like-0") }}
    {% endif %}
  </span>
{% endmacro %}
