{% include "make-templates/macros.html" %}

<div class="make me-make medium make-type-{{make.type}}">
  <a class="make-link" target="_blank" href="{{make.url}}">
    <div class="make-thumbnail{% if make.thumbnail %} thumbnail" style="background-image:url({{make.thumbnail}});{% endif %}"></div>
    <div class="type-label"><span class="make-type">{{make.type}}</span></div>
    <div class="make-info">
      <p class="updatedAt">
        {{ "Updated" | gettext }} {{make.updatedAt}}, {{ likeText() }}
      </p>
      <p class="title">{{make.title}}</p>
    </div>
    <div class="btn-container">
      {% if make.type != "x-ray-goggles" %}<a href="{{make.editurl}}" target="_blank" class="ui-btn view-btn"><span class="icon icon-pencil"></span></a>{% endif %}
      <button type="submit" data-make-id="{{make._id}}" class="ui-btn delete-btn"><span class="icon icon-trash"></span></button>
    </div>
  </a>
</div>
