<div class="make make-teach make-admin-search">
  <div class="make-thumbnail thumbnail" style="background-image: url({{make.thumbnail}});"></div>
  <div class="make-back">
    <div class="desc">
      <h3><a class="title" href="{{make.url}}">{{make.title}}</a></h3>
      <p class="author-date"><a><span class="type">guide</span> make</a> by <a class="author" href="/u/{{make.username}}">@{{make.username}}</a> created <span class="date">{{make.createdAt}}</span>  updated <span class="date">{{make.updatedAt}}</span></p>
      <p class="description">{{make.description}}</p>
    </div>
  </div>
</div>

