<div class="make make-teach medium packery-hide">
  <a href="{{make.url}}">
    <div class="make-thumbnail thumbnail" style="background-image: url({{make.thumbnail}});"></div>
    <div class="make-back">
      <div class="desc">
        <h3><a class="title" href="{{make.url}}">{{make.title}}</a></h3>
        <p class="author-date"><img class="make-avatar" src="{{make.avatar}}"><a><span class="type">guide</span> make</a> by <a class="author" href="/u/{{make.username}}">@{{make.username}}</a> created <span class="date">{{make.createdAt}}</span></p>
        <p class="description">{{make.description}}</p>
      </div>
      <div class="btn-container">
        <a class="ui-btn fork-btn fork-btn-label" href="{{make.remixurl}}"><span class="icon-code-fork"></span> Remix</a>
        <a class="ui-btn details-btn fork-btn-label" href="{{make.url}}">Details</a>
      </div>
    </div>
  </a>
  {% if isAdmin %}
  <div class="admin-top">
    {%if make.index %}
    <div class="admin-makeindex">webmaker:{{prefix}}-{{make.index}}</div>
    {% endif %}
    <div class="admin-maketitle">Title: {{make.title}}</div>
  </div>
  {% endif %}
</div>

