#badges {

  // Type
  h1, h2 {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
  }

  // Sections
  .content section {
    padding: (@grid-gutter-width * 2) @grid-gutter-width;
  }

  #badge-not-found {
    padding: 0;
    .empty-badge {
      margin-right: @grid-gutter-width;
    }
    .flex-display();
    .align-items(center);
    .justify-content(center);
    @media (min-width: @screen-sm-min) {
      padding: (@grid-gutter-width * 2);
      h1 {
        font-size: 4em;
      }
    }
  }

  #requirements {
    background: white;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -30px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 30px;
      border-color: @lightgrey transparent transparent transparent;
    }
  }

  // Badge
  #badge {
    margin-bottom: @grid-gutter-width;
    text-align: center;
    img {
      width: 100%;
      max-width: 300px;
    }
  }
  .badge-tags .icon-tags {
    color: @green;
  }
  .badge-tag {
    &:not(:last-of-type):after {
      content: ',';
    }
  }

  // Panels
  .panel-navy {
    background: @navy;
    color: #FFF;
    h1, h2 {
      font-family: 'Open Sans Light', sans-serif;
    }
    h1, h2, h3, h4, label {
      font-weight: normal;
    }
  }

  .panel-badges {
    p {
      line-height: 1.6;
    }
    textarea {
      max-width: 700px;
      min-height: 80px;
    }
    .form-group, h2, h1 {
      margin: 0 0 @grid-gutter-width 0;
    }
    label {
      margin-bottom: 10px;
    }
    .form-inline label {
      margin-right: 10px;
    }
    .panel-body {
      padding: (@grid-gutter-width * 2);
    }
  }

  // Lists
  .list-badges-requirements {
    counter-reset: badges-number;
    > li {
      margin: (@grid-gutter-width * 2) 0;
    }

    // Major bullets
    // Since this is parsed from markdown, include h1, h2, h3 just in case.
    > li  {
      > h1, h2, h3 {
        font-size: 1.4em;
        color: @green;
        &:before {
          counter-increment: badges-number;
          content: counter(badges-number)'. ';
        }
      }
    }

    // Minor bullets with check marks
    > li > ul {
      background: #F5F5F5;
      list-style: none;
      padding: @grid-gutter-width;
      border-top: 1px solid darken(#F5F5F5, 5%);
      border-bottom: 1px solid darken(#F5F5F5, 5%);
      > li {
        padding-left: 2em;
        margin-bottom: 1em;
        position: relative;
        &:last-of-type {
          margin-bottom: 0;
        }
        &:before {
          .icon(@ok);
          color: @green;
          position: absolute;
          left: 0;
        }
      }
    }

  }

  // Close button
  #close-panel {
    background: none;
    float: right;
    color: fade(#FFF, 80%);
    margin-top: -20px;
    margin-right: -20px;
    &:hover {
      color: #FFF;
    }
  }

  // Spacing overrides
  #content,
  footer,
  .make-footer {
    margin-bottom: 0;
    margin-top: 0;
  }

}
