# Copy this file to .env or just set these environment variables

# default port is 7777
export PORT=7777

# The externally accessible hostname you use to access this server
# Used for persona audience verification, and SSO proxying
export HOSTNAME="http://localhost:7777"

# API is available at mozilla/MakeAPI
# default API endpoint is http://makeapi.mofostaging.net
export MAKE_ENDPOINT="http://localhost:5000"

# make authentication
export MAKE_AUTH="user:pass"

# API is available at mozilla/login.webmaker.org
# default Persona SSO is http://localhost:3000
export AUDIENCE="http://localhost:7777"

# Set NODE_ENV to development for testing
export NODE_ENV="development"

# Where can we find the login API endpoint
export LOGIN="http://localhost:3000"

# What is our fully qualified login API acces point?
export LOGINAPI="http://testuser:password@localhost:3000"

# And a cookie secret
export SESSION_SECRET="dummy secret value"

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# Google Analytics info
export GA_ACCOUNT=""
export GA_DOMAIN=""

# Database Settings for Events Page
export DB_DIALECT="sqlite"
export DB_STORAGE="webmaker.sqlite"
export DB_HOST="localhost"
export DB_PORT="3306"
export DB_DATABASE="webmaker"
export DB_USERNAME="root"
export DB_PASSWORD=""

# AWS-S3 information
export S3_BUCKET="whatever"
export S3_KEY="irrelephent"
export S3_SECRET="irrelephent"
