body#events.admin {
    table#event-list {
        margin: 4px;
        border-collapse: collapse;

        thead {
            .icon-star {
                color: yellow;
            }
            td {
                font-weight: bold;
            }
        }
        tbody {
            a { .clickable }
            tr {
                &:hover {
                    background: #eeeeff;
                    .clickable;
                }
            }
            button {
                background: transparent;
                border:     none;

                .clickable;
            }
        }
    }
}
