body#events.metrics {

  .dashboard {
    padding: 3% 10%;
    background: url(/img/sample.jpg) no-repeat center bottom;
    background-size: cover;

    .metrics {
      position: relative;
      font-size: .85em;

      .value {
        font-weight: bold;
        font-size: 1.8em;
        display: block;
        line-height: 1;
        margin-top: 10px;
      }

      .squares {
        float: left;
        width: 30%;

        .square {
          width: 100%;
          height: 370px;
          margin-bottom: 20px;

          &.blue {
            background-color: rgba(39, 170, 225, .8);
          }

          &.gray {
            background-color: rgba(150, 152, 156, .8);
          }
        }
      }

      .rectangle {
        width: 66%;
        height: 760px;
        background-color: rgba(224, 54, 52, .8);
        display: inline-block;
        margin-left: 20px;
      }

      .square, .rectangle {
        padding: 30px;
        color: white;
        font-size: 3em;
      }
    }
  }
}