<div class="container">
  <div class="row">
    <img src="/img/img-Get-Involved-feature.jpg" alt="{{ 'Get Involved' | i18n }}" class="cover-photo">
  </div>
  <article>
    <div class="row">
      <header class="col-xs-12">
        <h1>{{ '9 Ways to Get Involved with Webmaker' | i18n }}</h1>

        <p class="lead">{{ 'Mozilla Webmaker creates software, projects and events' | i18n }}</p>
      </header>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ol class="big-numbers">
          <li>
            <h3>
              <a href="/{{ lang }}/tools">{{ 'Make something' | i18n }}</a>
            </h3>

            <p bind-unsafe-html="'Making is the basis of everything we do.' | i18n"></p>
          </li>
          <li>
            <h3>
              <a href="/{{ lang }}/events">{{ 'Find or host an event' | i18n }}</a>
            </h3>

            <p bind-unsafe-html="'From hack jams to pop ups to the global Maker Party' | i18n"></p>
          </li>
          <li>
            <h3>
              <a href="https://training.webmakerprototypes.org/">{{ 'Teach the web' | i18n }}</a>
            </h3>

            <p bind-unsafe-html="'You don’t need to be a wizard to teach the web.' | i18n"></p>
          </li>
          <li>
            <h3>
              <a href="/{{ lang }}/mentor">{{ 'Become a mentor' | i18n }}</a>
            </h3>

            <p>{{ 'Mentoring is a chance to share your knowledge' | i18n }}</p>
          </li>
          <li>
            <h3>
              <a target='_blank' href="//sendto.mozilla.org/page/contribute/join-mozilla?source=join_link]">
                {{ 'Donate to Webmaker' | i18n }}
              </a>
            </h3>

            <p bind-unsafe-html="'As a non-profit organization, we depend on' | i18n "></p>
            <p bind-unsafe-html="'Please support our work' | i18n "></p>
          </li>
          <li>
            <h3>
              <a target='_blank' href="https://support.mozilla.org/kb/top-tips-creating-great-teaching-kits">
                {{ 'Contribute a guide or resource' | i18n }}
              </a>
            </h3>

            <p>{{ 'Do you have a web literacy project?' | i18n }}</p>
          </li>
          <li>
            <h3>
              <a href="/{{ lang }}/feedback">
                {{ 'Help with beta-testing & quality assurance' | i18n }}
              </a>
            </h3>

            <p bind-unsafe-html="'new Webmaker tools and projects' | i18n"></p>

            <p>{{ 'Participate in user testing' | i18n }}</p>
          </li>
          <li>
            <h3>
              <a target='_blank' href="https://support.mozilla.org/kb/contribute-webmaker-code">
                {{ 'Contribute code' | i18n }}
              </a>
            </h3>

            <p>{{ 'All Webmaker tools are open source.' | i18n }}</p>
          </li>
          <li>
            <h3>
              <a target='_blank' href="//sendto.mozilla.org/page/s/sign-up-for-mozilla?source=default_signup">
                {{ 'Communicate' | i18n }}
              </a>
            </h3>
            <ul>
              <li>
                <p>
                  <strong bind-unsafe-html="'Sign up for Webmaker announcement list' | i18n"></strong>
                  <span bind-unsafe-html="'Receive occasional email updates' | i18n"></span>
                </p>
              </li>
              <li>
                <p>
                  <strong bind-unsafe-html="'Join the Webmaker newsgroup' | i18n"></strong>
                  <span>{{ 'active daily discussion paragraph' | i18n }}</span>
                </p>
              </li>
              <li>
                <p bind-unsafe-html="'Connect through social media' | i18n"></p>
              </li>
              <li>
                <p>
                  <strong bind-unsafe-html="'Say hello on a Webmaker community call' | i18n"></strong>
                  <span>{{ 'Join our community call' | i18n }}</span>
                </p>
              </li>
              <li>
                <p>
                  <strong>{{ 'Wait, there’s more!' | i18n }}</strong>
                  <span>{{ 'connect in many ways.' | i18n }}</span>
                  <span bind-unsafe-html="'Visit our communications wiki' | i18n "></span>
                </p>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </article>
</div>
<div ng-include="'/views/partials/footer.html'"></div>
