<div class="goggles-backgrounded goggles-xray-image">

      <img src="/Shapes.jpg">

      <div class="goggles-main-box goggles-box">
        <h1>Remix this page</h1>
        <ol class="goggles-listing">
          <li><p><button class="goggles-activate-button">Activate X-ray Goggles</button></p></li>
          <li><p>Tap the background image</p></li>
          <li><p>Change the image’s <span class="term">source</span> from Shapes.jpg to Blur.jpg
              <button class="goggles-help-button">help</button>
              <p class="goggles-help-toggled hidden">In HTML, the &lt;img&gt; tag identifies an image with src="file_name".</p>
              <p class="goggles-help-toggled hidden">Change &lt;img src="/Shapes.jpg"&gt; to &lt;img src="/Blur.jpg"&gt;</p>
          </li>
        </ol>
      </div>

      <div class="goggles-sub-box goggles-box">
        <p>Set up <a ng-href="/{{ lang }}/goggles/install">X-ray Goggles</a> and get the power to view and edit the
           code behind any website on the Internet.</p>
      </div>

</div>

<div ng-include="'/views/partials/footer.html'"></div>
