<div class="goggles-backgrounded goggles-xray-image">

      <img src="/shapes.jpg">

      <div class="goggles-main-box goggles-box">
        <h1>{{ 'Remix this page' | i18n }}</h1>
        <ol class="goggles-listing">
          <li><p><button class="goggles-activate-button"><span>{{ 'Activate X-ray Goggles' | i18n }}</span></button></p></li>
          <li><p>{{ 'Click the background image' | i18n }}</p></li>
          <li><p>{{ 'Change the image’s' | i18n }} <span class="term">{{ 'source' | i18n }}</span> {{ 'from shapes.jpg to blur.jpg' | i18n }}
              <button class="goggles-help-button">{{ 'help' | i18n }}</button>
              <p class="goggles-help-toggled hidden">{{ 'gogglesHelp1' | i18n }}</p>
              <p class="goggles-help-toggled hidden">{{ 'gogglesHelp2' | i18n }}</p>
          </li>
        </ol>
      </div>

      <div class="goggles-sub-box goggles-box">
        <p>{{ 'gogglesSetup1' | i18n }} <a class="goggles-install-link" ng-href="/{{ lang }}/goggles/install">{{ 'gogglesSetup2' | i18n }}</a> {{ 'gogglesSetup3' | i18n }}</p>
      </div>

</div>

<div ng-include="'/views/partials/footer.html'"></div>
