<div ng-show="userDel" class="alert alert-info">{{ 'user_deleted' | i18n }}</div>

<section id="home-carousel">
  <carousel interval="-1">
    <slide class="slide" id="slide-0">
    <div class="slide-inner">
      <div class="container text-center">
        <img class="skill-sharer-badge" src="/img/home/skills-sharer-badge.png" alt="Skills Sharer Badge">
        <h1>{{ 'Do you teach the web' | i18n }}</h1>
        <p class="lead">{{ 'Making a difference' | i18n }}</p>
        <a href="https://sendto.mozilla.org/page/signup/skill-share-badge" target="_blank" class="btn btn-primary">{{ 'Collect your badge' | i18n }}</a>
      </div>
    </div>
    </slide>
    <slide class="slide" id="slide-1">
    <div class="slide-inner">
      <div class="container text-center">
        <img class="maker-party-logo" src="/img/home/maker-party-logo.svg" alt="Maker Party">
        <h1>{{ 'Throw an Event' | i18n }}</h1>
        <h3 bind-unsafe-html="'maker_party_date' | i18n"></h3>
        <p class="lead">{{ 'maker_party_tagline' | i18n }} <a href="https://party.webmaker.org">{{ 'Learn more' | i18n }}</a></p>
      </div>
    </div>
    </slide>
    <slide class="slide" id="slide-2">
      <div class="slide-inner">
        <div class="container text-center">
          <h1>{{ 'I hosted a maker party where women taught the wonders of the web' | i18n }}</h1>
          <p class="lead">{{ 'J Faye Tandog, Manilla, Phillippines' | i18n }}</p>
        </div>
      </div>
    </slide>
    <slide class="slide" id="slide-3">
      <div class="slide-inner">
        <div class="container text-center">
          <h1>{{ 'We remixed our favorite stories using digital media and the web' | i18n }}</h1>
          <p class="lead">{{ 'Hive NYC Storymakers, Brooklyn Public Library, New York' | i18n }}</p>
        </div>
      </div>
    </slide>
  </carousel>
</section>

<section id="home-teach-the-web">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="illustration">
          <!-- <img dir="ltr" class="cat-off" src="/img/cat-off.png">
          <img class="browser-off" src="/img/browser-off.png"> -->
          <img class="browser-on hidden-scroll" src="/img/browser-on.png">
          <img dir="ltr" class="cat-on hidden-scroll" src="/img/cat.gif">
        </div>
      </div>
      <div class="col-sm-6 col-lg-8">
        <h1>{{ 'We teach the web' | i18n }}</h1>
        <p>{{ 'front-page-description' | i18n }}</p>
        <p>
          <a class="btn btn-default btn-home" href="/signup">{{ 'Create an account' | i18n }}</a>
          <button class="btn btn-success btn-home" ng-click="login()">{{ 'Sign in' | i18n }}</button>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="home-features">
  <div class="container text-center">
    <div class="row">
      <div class="feature col-sm-4">
        <a href="/{{ lang }}/explore" push-state="true">
          <div class="img-container map"></div>
          <h2>{{ 'Explore Webmaker' | i18n }}</h2>
        </a>
        <p>{{ 'See all the things Webmaker has to offer in the brand new Explore section' | i18n }}</p>
      </div>
      <div class="feature col-sm-4">
        <a href="https://training.webmakerprototypes.org">
          <div class="img-container training"></div>
          <h2>{{ 'Learn to Teach' | i18n }}</h2>
        </a>
        <p>{{ 'Study at your own pace to teach web literacy, digital skills and open practices.' | i18n }} <a href="https://training.webmakerprototypes.org">{{ 'Get training.' | i18n }}</a></p>
      </div>
      <div class="feature col-sm-4">
        <a href="/{{ lang }}/getinvolved">
          <div class="img-container get-together"></div>
          <h2>{{ 'Get Together' | i18n }}</h2>
        </a>
        <p>{{ 'Join others at a local event of Maker Party or collaborate online' | i18n }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div ng-include="'/views/partials/footer.html'"></div>
