<div class="container">
  <div class="row">
    <div class="col-xs-12 goggles-backgrounded">

      <div class="goggles-header">
        <h1>{{ 'Set up X-ray Goggles' | i18n }}</h1>

        <div class="goggles-bookmark">
          <a class="goggles-bookmark-link" ng-href="javascript:(function(){var%20script=document.createElement('script');script.src='{{gogglesUrl}}/en-US/webxray.js';script.className='webxray';script.setAttribute('data-lang','en-US');script.setAttribute('data-baseuri','{{gogglesUrl}}/en-US');document.body.appendChild(script);})();">
            <span class="fa fa-arrows"> </span><span> {{ 'X-ray Goggles' | i18n }}</span>
          </a>
          <p>{{ 'Drag to Bookmarks bar' | i18n }}</p>
        </div>
      </div>

      <div class="goggles-video">
        <img class="goggles-video-ratio" src="/img/16x9.gif"/>
        <iframe src="https://www.youtube.com/embed/FiPbyuPV0RQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<div ng-include="'/views/partials/footer.html'"></div>
