<div id="literacy">
  <div class="container map">
    <h1>
      {{ litMapTitle }}
    </h1>

    <p class="lead">{{ 'StandardMainDesc1' | i18n }}</p>

    <p class="lead" bind-unsafe-html="'StandardMainDesc2'| i18n"></p>

    <p class="lead" bind-unsafe-html="'StandardMainDesc3'| i18n"></p>
    <ul class="list-unstyled">
      <li class="strand-section" ng-repeat="(strand, literacies) in litMap">
        <h2 class="strand" id="{{ strand }}">
          <strong>
            {{ strand }}
          </strong>
        </h2>
        <ul class="list-unstyled">
          <li class="competency-section" ng-repeat="literacy in literacies | filter: strand">
            <h3 class="competency" id="{{ literacy.term }}">
              {{ literacy.term }}
            </h3>

            <p>{{ literacy.description }}</p>
            <ul>
              <li ng-repeat="point in wlcPoints[literacy.tag]">
                <p>{{ point | i18n }}</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="well well-web-literacy">
    <div class="container">
      <h3>{{ 'StandardFooterTranslate' | i18n }}</h3>

      <a class="btn btn-primary btn-lg" href="https://support.mozilla.org/{{ lang }}/kb/translate-webmaker" target="_blank">
        <span>
          {{ 'StandardFooterButton' | i18n }}
          <i class="icon-circle-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
<div ng-include="'/views/partials/footer.html'"></div>
