<div class="made-with-code" ng-controller="mwcController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mwc-top">
          <header>
            <h1>Welcome to Webmaker</h1>

            <p>
              <strong>Congratulations on your new
                <a href="http://madewithcode.com">Made with Code</a>
                skills!</strong>
              Now let&rsquo;s learn a little HTML, the official language of the
              web.
            </p>

            <div class="mwc-logo-block">
              <img src="#" alt="Made With Code logo" retina-image
                   data-src-1x="/img/made-with-code/logo_mwc.png"
                   data-src-2x="/img/made-with-code/logo_mwc@2x.png"/>
            </div>
          </header>
          <h2>
            Make your first web page
          </h2>

          <p>
            <strong> You&rsquo;ve probably seen hundreds (if not thousands) of
              web pages</strong>. All of them are written in a language called
            <em>HTML.</em>
          </p>

          <p>
            <strong>It&rsquo;s easy to start messing around with HTML.</strong>
            In this activity, you&rsquo;ll make a basic web page in about 60
            seconds or less, using <a href="https://thimble.webmaker.org/">Thimble</a>,
            Mozilla&rsquo;s free HTML power tool.
          </p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-3"
           id="make-gallery"
           sample-make make-id="5395cbc32e50e55a220000df"></div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <h3 class="get-started">Get started</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Click the &ldquo;remix&rdquo; button.</strong> This
                  will open Thimble. You&rsquo;ll see a simple web page we
                  created to get you started. The code is on one side, the page
                  preview is on the other.
                </p>
              </figcaption>
              <div class="col-xs-12">
                <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_remix.png"
                     data-src-2x="/img/made-with-code/graphic_remix@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Follow the steps.</strong> The tutorial will walk you
                  through how to make changes to the code.
                </p>
              </figcaption>
              <div class="col-xs-12">
                <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_thimble.png"
                     data-src-2x="/img/made-with-code/graphic_thimble@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Done!</strong> Once you&rsquo;re finished, you can
                  save your work and share it. Log in to Webmaker and
                  hit &ldquo;Save.&rdquo;
                </p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h3>Go further</h3>
          <ul>
            <li>
              <p>
                Try the next Made with Code activity. Use your new HTML and CSS
                skills to <a href="/{{ lang }}/madewithcode-meme">make a
                meme</a>.
              </p>
            </li>
            <li>
              <p>
                Or Webmaker has <a href="/{{ lang }}/gallery">lots of other free
                activities</a> too.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
