<div class="made-with-code" ng-controller="mwcController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mwc-top">
          <header>
            <h1>Welcome to Webmaker</h1>

            <p>
              <strong>Congratulations on your new <a
                  href="http://madewithcode.com/">Made with Code</a>
                skills!</strong> Now let&rsquo;s learn some <em>HTML</em> and
              <em>CSS,</em> the languages that make up every page on the web.
            </p>

            <div class="mwc-logo-block">
              <img src="#" alt="Made With Code logo" retina-image
                   data-src-1x="/img/made-with-code/logo_mwc.png"
                   data-src-2x="/img/made-with-code/logo_mwc@2x.png"/>
            </div>
          </header>
          <h2>
            Make a movie poster
          </h2>

          <p>
            <strong>Seen a movie or read any good books lately?</strong> Make a
            web page with your glowing (or vicious) review. Learn a little code
            along the way.
          </p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-3"
           id="make-gallery"
           sample-make make-id="5398813236745db24d0000be"></div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <h3 class="get-started">Get started</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Click the &ldquo;remix&rdquo; button.</strong> This
                  will open Thimble. You&rsquo;ll see a placeholder movie poster
                  to help you get started.
                </p>
              </figcaption>
              <div class="col-xs-12">
                <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_remix.png"
                     data-src-2x="/img/made-with-code/graphic_remix@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Follow the steps</strong>. The tutorial will walk you
                  through how to swap in your own text, images and style.
                </p>
              </figcaption>
              <div class="col-xs-12">
                <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_thimble.png"
                     data-src-2x="/img/made-with-code/graphic_thimble@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Done!</strong> Once you&rsquo;re finished, just log
                  in to Webmaker and hit &ldquo;Save&rdquo;.
                </p>
              </figcaption>
            </figure>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h3>Want more?</h3>
          <ul>
            <li>
              <p>
                Try the next Made with Code activity. Use your new HTML and CSS
                skills to <a href="/{{ lang }}/madewithcode-firstwebpage">make
                your first web page</a>.
              </p>
            </li>
            <li>
              <p>
                Webmaker has <a href="/{{ lang }}/gallery">lots of other free
                activities</a> like this one.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
