<div class="made-with-code" ng-controller="mwcController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mwc-top">
          <header>
            <h1>Welcome to Webmaker</h1>

            <p>
              <strong>Congratulations on your new
                <a href="http://madewithcode.com">Made with Code</a>
                skills!</strong> Now let&rsquo;s learn a little
              <em>HTML</em><span ng-if="madewithcode.showcss"> and
              <em>CSS</em></span>, the official
              language<span ng-if="madewithcode.showcss">s</span> of the web.
            </p>

            <div class="mwc-logo-block">
              <a href="http://madewithcode.com/">
                <img src="#" alt="Made With Code logo" retina-image
                     data-src-1x="/img/made-with-code/logo_mwc.png"
                     data-src-2x="/img/made-with-code/logo_mwc@2x.png"/>
              </a>
            </div>
          </header>
          <h2 bind-unsafe-html="madewithcode.title"></h2>
          <div bind-unsafe-html="madewithcode.intro"></div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-3"
           id="make-gallery"
           sample-make make-id="madewithcode.makeid"></div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <h3 class="get-started">Get started</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="madewithcode.step1"></p>
              </figcaption>
              <div class="col-xs-12">
                <a remix-link="{{ madewithcode.makeid }}">
                  <img src="#" alt="" retina-image
                       data-src-1x="/img/made-with-code/graphic_remix.png"
                       data-src-2x="/img/made-with-code/graphic_remix@2x.png"/>
                </a>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="madewithcode.step2"></p>
              </figcaption>
              <div class="col-xs-12">
                <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_thimble.png"
                     data-src-2x="/img/made-with-code/graphic_thimble@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="madewithcode.step3"></p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h3>Go further</h3>
          <ul>
            <li ng-repeat="link in madewithcode.more">
              <p bind-unsafe-html="link"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
