<div class="made-with-code" ng-controller="mwcController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mwc-top">
          <header>
            <h1>Welcome to Webmaker</h1>

            <p>
              <strong>Congratulations on your new
                <a href="http://madewithcode.com">Made with Code</a>
                skills!</strong>
              Now let&rsquo;s learn a little HTML, the official language of the
              web.
            </p>

            <div class="mwc-logo-block">
              <img src="#" alt="Made With Code logo" retina-image
                   data-src-1x="/img/made-with-code/logo_mwc.png"
                   data-src-2x="/img/made-with-code/logo_mwc@2x.png"/>
            </div>
          </header>
          <h2>
            Let&rsquo;s make a meme
          </h2>

          <p>
            <strong>A &ldquo;meme&rdquo; is something that&rsquo;s shared on the
              internet, and it usually has three parts</strong>: a picture, a
            caption, and a dash of humor. In this activity, you&rsquo;ll make
            your
            own meme using a bit of HTML and your own creativity.
            <a href="https://thimble.webmaker.org/">Thimble</a>, Mozilla&rsquo;s
            code editor, makes it easy.
          </p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-3"
           id="make-gallery"
           sample-make make-id="53962d732e50e55a22000132"></div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <h3 class="get-started">Get started</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Click the &ldquo;remix&rdquo; button.</strong> This
                  will open Thimble. You&rsquo;ll see a simple meme we created
                  to get you started.
                </p>
              </figcaption>
              <div class="col-xs-12">
              <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_remix.png"
                     data-src-2x="/img/made-with-code/graphic_remix@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Follow the steps in the tutorial.</strong> The
                  tutorial will walk you through how to make changes to the
                  code.
                </p>
              </figcaption>
              <div class="col-xs-12">
              <img src="#" alt="" retina-image
                     data-src-1x="/img/made-with-code/graphic_thimble.png"
                     data-src-2x="/img/made-with-code/graphic_thimble@2x.png"/>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p>
                  <strong>Done!</strong> Once you&rsquo;re finished, you can
                  save your work and share it. Log in to Webmaker and
                  hit &ldquo;Save.&rdquo;
                </p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h3>Go further</h3>
          <ul>
            <li>
              <p>
                Try the next Made with Code activity. Use your new HTML and CSS
                skills to <a href="/{{ lang }}/madewithcode-poster">Make a Movie
                poster</a>.
              </p>
            </li>
            <li>
              <p>
                Or Webmaker has <a href="/{{ lang }}/gallery">lots of other free
                activities</a> too.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
