<div id="mentor">
  <img class="banner" src="/img/img-Mentor-feature-bobby.jpg" alt="{{ 'Mentor' | i18n }}"/>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>{{ 'Create a more web literate world' | i18n }}</h1>

        <div class="lead">
          <a class="btn btn-primary btn-lg pull-right" href="https://sendto.mozilla.org/page/s/mentor-signup">
            {{ 'Become a Mentor' | i18n }}
          </a>

          <p bind-unsafe-html="'Create a more web literate world paragraph' | i18n"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <img src="/img/home/resources.png" class="resource-graphic">
        <h2>{{ 'Build your mentorship skills' | i18n }}</h2>
        <ol class="mentorship-skills">
          <li bind-unsafe-html="'Browse our teaching resources' | i18n"></li>
          <li bind-unsafe-html="'Join or host local events' | i18n"></li>
          <li bind-unsafe-html="'Show others how to make the web' | i18n"></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>{{ 'Connect with the Community' | i18n }}</h1>

        <div>
          <a class="btn btn-primary btn-lg pull-right" href="http://discourse.webmaker.org/category/meet">
            {{ 'Introduce yourself' | i18n }}</a>

          <p bind-unsafe-html="'Join our online forum' | i18n"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>{{ 'What is web literacy' | i18n }}</h1>

        <div class="lead">
          <a class="btn btn-primary btn-lg pull-right" href="//mozilla.github.io/webmaker-whitepaper/">
            {{ 'What is web literacy button' | i18n }}
          </a>

          <p bind-unsafe-html="'What is web literacy paragraph' | i18n"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="container-fluid the-mentors">
          <div class="row">
            <section class="col-xs-12 col-sm-4 mentor-profile">
              <header class="mentor-header">
                <img src="/img/img-mentor-emma-erwin.jpg" class="img-circle mentor-face" alt="{{ 'Emma' | i18n }}"/>

                <h3>{{ 'Emma' | i18n }}</h3>
                <h4>{{ 'Video remixing and open source for youth' | i18n }}</h4>
              </header>
              <p bind-unsafe-html="'About Emma' | i18n"></p>
            </section>
            <section class="col-xs-12 col-sm-4 mentor-profile">
              <header class="mentor-header">
                <img src="http://content-2011.mozillafestival.org/uploads/2011/09/jonrogers-sm.jpg" class="img-circle mentor-face" alt="{{ 'Jon' | i18n }}"/>

                <h3>{{ 'Jon' | i18n }}</h3>
                <h4>{{ 'Making the web physical' | i18n }}</h4>
              </header>
              <p bind-unsafe-html="'About Jon' | i18n"></p>
            </section>
            <section class="col-xs-12 col-sm-4 mentor-profile">
              <header class="mentor-header">
                <img src="http://content-2012.mozillafestival.org/uploads/2013/01/unnati.jpg" class="img-circle mentor-face" alt="{{ 'Unnati' | i18n }}"/>

                <h3>{{ 'Unnati' | i18n }}</h3>
                <h4>{{ 'Youth mentor' | i18n }}</h4>
              </header>
              <p bind-unsafe-html="'About Unnati' | i18n"></p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>{{ 'Become a catalyst' | i18n }}</h1>

        <div class="lead">
          <a class="btn btn-primary btn-lg pull-right" href="//hivelearningnetworks.org/">
            {{ 'Become a catalyst button' | i18n }}
          </a>

          <p bind-unsafe-html="'Become a catalyst paragraph' | i18n"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'/views/partials/footer.html'"></div>
