<div class="pe-featured-img-div"></div>
<div class="wizard-template">
  <div class="container">
    <h1 class="wizard-header-section">{{ 'private-eye-01' | i18n }}</h1>
    <p class="wizard-header-section-sub">{{ 'private-eye-02' | i18n }}</p>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wiz-center-mv">
        <img src="/img/Privacy/logo-lightbeam.svg" class="mv-popcorn-img">
        <a href="https://addons.mozilla.org/firefox/downloads/latest/363974/addon-363974-latest.xpi" push-state="false" target="_self" class="btn btn-success wizard-btn">{{ 'Install Firefox Lightbeam' | i18n }}</a>
        <div class="wiz-pe-cta">
          <img src="/img/Privacy/logo-firefox.svg" alt="Firefox Logo"/>
          <p>{{ 'private-eye-03' | i18n }}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 instructions">
        <h3 class="wiz-titled">{{ 'Let’s get started' | i18n }}</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'private-eye-04' | i18n"></p>
                <img src="/img/Privacy/img-Lightbeam-install.jpg" >
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'private-eye-05' | i18n"></p>
                <img src="/img/Privacy/img-privacy-websites.svg" >
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'private-eye-06' | i18n"></p>
                <img src="/img/Privacy/img-Lightbeam-interface.svg" alt="Privacy Lightbeam Interface" class="lightbeam-img">
                <p class="top-padding" bind-unsafe-html="'private-eye-07' | i18n"></p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'private-eye-08' | i18n"></p>
              </figcaption>
            </figure>
          </li>
        </ol>
        <h3 class="wiz-titled wiz-bottom-titled">{{ 'private-eye-09' | i18n }}</h3>
      </div>
    </div>
  </div>
  <footer class="wiz-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <img src="/img/remix_your_school/img-badge-Remix.svg" alt="remix your school badge" >
        </div>
        <div class="col-md-5">
          <h2>{{ 'Claim the Privacy Badge' | i18n }}</h2>
          <p bind-unsafe-html="'wizard-footer-badge' | i18n"></p>
          <button class="btn btn-success wiz-footer-btn">{{ 'Find out more' | i18n }}</button>
        </div>
      </div>
    </div>
  </footer>
</div>
