<div class="rys-featured-img-div">
  <img src="/img/remix_your_school/img-Feature-school-white.svg">
</div>
<div class="wizard-template">
  <div class="container">
    <h1 class="wizard-header-section">{{ 'remix_your_school_01' | i18n }}</h1>
    <p class="wizard-header-section-sub">{{ 'remix_your_school_02' | i18n }}</p>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 rys-aside">
        <div class="rys-xray-area">
          <h2>{{ 'remix_your_school_03' | i18n }}</h2>
          <a href="javascript:(function(){var script=document.createElement('script');script.src='https://goggles.webmaker.org/en-CA/webxray.js';script.className='webxray';script.setAttribute('data-lang','en-CA');script.setAttribute('data-baseuri','https://goggles.webmaker.org/en-CA');document.body.appendChild(script);})();" class="btn wiz-goggles-btn">{{ 'remix_your_school_04' | i18n }}</a>
          <p class="wiz-xray-cta">
            <img  src="/img/remix_your_school/img-XRay-Goggles-circle.svg" />
            <span class="highlight-rys">{{ 'remix_your_school_05' | i18n }}</span>
            {{ 'remix_your_school_06' | i18n }}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 instructions">
        <h3 class="wiz-titled">{{ 'Let’s get started' | i18n }}</h3>
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'remix_your_school_07' | i18n"></p>
                <img src="/img/remix_your_school/img-1-Navigate.svg" >
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'remix_your_school_08' | i18n"></p>
                <img src="/img/remix_your_school/img-2-Activate-Goggles.svg">
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'remix_your_school_09' | i18n"></p>
                <img src="/img/remix_your_school/img-3-Remix.svg">
                <p bind-unsafe-html="'remix_your_school_10' | i18n"></p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p bind-unsafe-html="'remix_your_school_11' | i18n"></p>
              </figcaption>
            </figure>
          </li>
        </ol>
        <h3 class="wiz-titled wiz-bottom-titled">{{ 'And you’re done. Great work!' | i18n }}</h3>
      </div>
    </div>
  </div>
  <footer class="wiz-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <img src="/img/remix_your_school/img-badge-Remix.svg" alt="remix your school badge" >
        </div>
        <div class="col-md-5">
          <h2>{{ 'Claim the Remix Badge' | i18n }}</h2>
          <p bind-unsafe-html="'wizard-footer-badge' | i18n"></p>
          <button class="btn btn-success wiz-footer-btn">{{ 'Find out more' | i18n }}</button>
        </div>
      </div>
    </div>
  </footer>
</div>
