<header id="resources-banner">
  <div class="container">
    <p class="col-xs-12" bind-unsafe-html="'We have re-organized Webmaker Resources' | i18n"></p>
  </div>
</header>
<div class="container" ng-controller="resourcesHomeController">
  <section id="resources-Resources" class="row">
    <div class="col-xs-12 col-sm-7 col-md-8">
      <h1>
        {{ "Resources for teaching and learning" | i18n }}
      </h1>

      <p bind-unsafe-html="'Teach and learn digital skills, web literacy, and making' | i18n"></p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4">
      <figure>
        <img src="/img/explore-map.svg" alt="The Web Literacy Map helps you build literacy in exploring, building, and sharing the web"/>
        <figcaption>
          <p bind-unsafe-html="'Webmaker educational resources backed by Web Literacy Map' | i18n"></p>
        </figcaption>
      </figure>
    </div>
  </section>
  <section id="resources-Web-Literacy-Map">
    <div class="row">
      <h2 class="col-sm-12">
        {{ "Web Literacy Map" | i18n}}
      </h2>
    </div>
    <nav class="row">
      <div class="col-sm-4 literacies-Exploring">
        <hgroup>
          <h3>{{ "Exploring" | i18n}}</h3>
          <h4>{{ "Navigating the Web" | i18n }}</h4>
        </hgroup>
        <ul>
          <li ng-repeat="skill in literacies" ng-if="skill.strand == 'Exploring'">
            <a href="/{{ lang }}/resources/literacy/{{ skill.tag }}" class="competency-link bg-{{ skill.tag }}">
              {{ skill.term }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 literacies-Building">
        <hgroup>
          <h3>{{ "Building" | i18n }}</h3>
          <h4>{{ "Creating for the Web" | i18n}}</h4>
        </hgroup>
        <ul>
          <li ng-repeat="skill in literacies" ng-if="skill.strand == 'Building'">
            <a href="/{{ lang }}/resources/literacy/{{ skill.tag }}" class="competency-link bg-{{ skill.tag }}">
              {{ skill.term }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 literacies-Connecting">
        <hgroup>
          <h3>{{ "Connecting" | i18n}}</h3>
          <h4>{{ "Participating on the Web" | i18n}}</h4>
        </hgroup>
        <ul>
          <li ng-repeat="skill in literacies" ng-if="skill.strand == 'Connecting'">
            <a href="/{{ lang }}/resources/literacy/{{ skill.tag }}" class="competency-link bg-{{ skill.tag }}">
              {{ skill.term }}
            </a>
        </ul>
      </div>
    </nav>
  </section>
  <section id="resources-Discover-new-skills">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ "Discover new skills" | i18n }}</h2>

        <p ng-bind-html="'Learn through hands-on making' | i18n"></p>
      </div>
    </div>
    <div class="row">
      <aside class="col-sm-4">
        <h3 class="resource-discover">{{ "Discover" | i18n }}</h3>

        <p ng-bind-html="'Get your feet wet' | i18n"></p>
      </aside>
      <aside class="col-sm-4">
        <h3 class="resource-make">{{ "Make" | i18n }}</h3>

        <p ng-bind-html="'Get your hands dirty' | i18n"></p>
      </aside>
      <aside class="col-sm-4">
        <h3 class="resource-teach">{{ "Teach" | i18n }}</h3>

        <p ng-bind-html="'Share what you know' | i18n "></p>
      </aside>
    </div>
  </section>
  <section id="resources-People-Resources" class="row">
    <div class="col-sm-12">
      <h2>{{ "Our global community is here to help" | i18n }}</h2>

      <p bind-unsafe-html="'Mozilla Webmaker is different' | i18n"></p>
    </div>
    <i>&nbsp;</i>
  </section>
  <section id="resources-Still-Reading" class="row">
    <aside class="col-sm-4">
      <a href="http://training.webmakerprototypes.org/{{lang}}">
        <h2 class="web-lit-get-training">{{ "Get Training." | i18n }}</h2>

        <p>{{ "Join our free open online course" | i18n }}</p>
      </a>
    </aside>
    <aside class="col-sm-4">
      <a href="/{{ lang }}/gallery">
        <h2 class="web-lit-gallery">{{ "Explore." | i18n }}</h2>

        <p>{{ "Explore the community gallery" | i18n }}</p>
      </a>
    </aside>
    <aside class="col-sm-4">
      <a href="/{{ lang }}/getinvolved">
        <h2 class="web-lit-get-involved">{{ "Get Involved." | i18n }}</h2>

        <p>{{ "Get more involved" | i18n }}</p>
      </a>
    </aside>
  </section>
</div>
