{% set currentPage = page %}
{% set currentSection = page|getSection %}
<section id="main-navigation-container" data-current-section="{{currentSection}}" data-current-page="{{currentPage}}">

  <nav id="navigation-primary" class="navigation-container">
      <div class="ui-wrapper">
        <ul class="navigation-list navigation-wrapper">
          {% for section in navigation %}
          {% if not section.flag or flags[section.flag] %}
            <li class="nav-icon">
            <a href="{% if section.instantiate %}{{section.defaultUrl | instantiate}}{% else %}/{{localeInfo.lang}}/{{section.defaultUrl}}{% endif %}"
            {% if section.id == currentSection %}class="active"{% endif %}
            data-section="{{section.id}}">
            <span class="fa {{section.icon}}"></span>
            {{gettext(section.title)}}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          </ul>
      </div>
  </nav>

  <nav id="navigation-secondary" class="navigation-container">
    {% for section in navigation %}
    {% if not section.flag or flags[section.flag] %}
    {% if not section.exclude or (section.exclude and not flags[section.exclude]) %}
      <ul data-section="{{section.id}}" class="navigation-list navigation-wrapper{% if section.id == currentSection %} active{% endif %}">
        {% for page in section.pages %}
        {% if not page.flag or flags[page.flag] %}
        {% if not page.adminOnly or isAdmin %}
        {% if not page.isAtleastMentor or isAdmin or isSuperMentor or isMentor %}
        <li>

            <a
              data-page="{{page.id}}" {% if page.id == currentPage %}
              class="active"{% endif %}
              href="{% if not page.external %}/{{localeInfo.lang}}/{% endif %}{{ page.url | instantiate }}"{% if page.external %} target="_blank"{% endif %}
              >

              {{gettext(page.title)}}
            </a>
        </li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% endif %}
    {% endfor %}
  </nav>

  <nav id="expanded-navigation">
    <div class="navigation-wrapper">
    {% for section in navigation %}
    {% if not section.flag or flags[section.flag] %}
    {% if not section.exclude or (section.exclude and not flags[section.exclude]) %}
      <ul class="navigation-list">
        <li><a><span class="icon {{section.icon}}"></span> {{gettext(section.title)}}</a></li>
        {% if section%}
          {% for page in section.pages %}
          {% if not page.flag or flags[page.flag] %}
          {% if not page.adminOnly or isAdmin %}
          {% if not page.isAtleastMentor or isAdmin or isSuperMentor or isMentor %}
          <li>
            <a href="{% if not page.external %}/{{localeInfo.lang}}/{% endif %}{{ page.url | instantiate }}"{% if page.external %} target="_blank"{% endif %}>
              {{gettext(page.title)}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
  </nav>

</section>
