{% set currentPage = page %}
{% set currentSection = page|getSection %}
<section id="main-navigation-container" data-current-section="{{currentSection}}" data-current-page="{{currentPage}}">

  <nav id="navigation-primary" class="navigation-container collapse">
      <div class="ui-wrapper">
        <ul class="navigation-list navigation-wrapper">
          {% for section in navigation %}
          {% if not section.flag or flags[section.flag] %}
            <li class="nav-icon">
            <a href="{% if section.instantiate %}{{section.defaultUrl | instantiate}}{% else %}/{{localeInfo.lang}}/{{section.defaultUrl}}{% endif %}"
            {% if section.id == currentSection %}class="active"{% endif %}
            data-section="{{section.id}}">
            <span class="fa {{section.icon}}"></span>
            {{gettext(section.title)}}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
</section>
