{% extends "layout.html" %}
{% block title %}{{ gettext("About") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster">
    <img src="/img/img-About-Us-feature.jpg" alt="{{ gettext("About Us") }}">
  </div>

  <div class="ui-section">
    <div class="ui-row about-hello">
      <h1>{{ gettext("Hello.") }}</h1>
      <img src="/img/img-About-Us-learning.jpg" alt="Learning">
      <p>
        {{ gettext("Welcome to Webmaker-Mozilla") | instantiate | safe }}
        {{ gettext("Our tools, events and teaching guides") | instantiate | safe }}
        {{ gettext("With this knowledge") }}
        {{ gettext("see how it works") }}
        {{ gettext("Enjoy!") }}
      </p>
      <p>{{ gettext("Our goal encourage millions of people") }}</p>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3><a href="/{{localeInfo.lang}}/tools">{{ gettext("Tools") }}</a></h3>
        <p>
          {{ gettext("Creating the web is the heart of our work") | safe }}
        </p>
      </div>
      <div class="g-2">
        <h3><a href='/{{localeInfo.lang}}/teach'>{{ gettext("Teach &amp; Learning") | safe }}</a></h3>
        <p>
          {{ gettext("Learning through making") }} {{ gettext("We provide starter projects") | instantiate | safe }} {{ gettext("We consider digital literacy") | safe }} {{ gettext("when we understand the building blocks") }}
        </p>
      </div>
      <div class="g-2">
        <h3><a href='/{{localeInfo.lang}}/getinvolved'>{{ gettext("Community") }}</a></h3>
        <p>
        {{ gettext("We recognize that innovation can come from anyone") | safe }}
        </p>
      </div>

    </div>

  </div>

</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "{{ gettext("Tools") }}",
    "desc": "{{ gettext("Use our Tools Desc") }}",
    "image": "/img/cta-Tools.jpg",
    "url": "/{{localeInfo.lang}}/tools"
  },
  {
    "title": "{{ gettext("Teach") }}",
    "desc": "{{ gettext("Teach Desc") }}",
    "image": "/img/cta-Teach.jpg",
    "url": "/{{localeInfo.lang}}/teach"
  },
  {
    "title": "{{ gettext("Maker Party") }}",
    "desc": "{{ gettext("Maker Party Desc") }}",
    "image": "/img/cta-Party.jpg",
    "url": "/{{localeInfo.lang}}/party"
  },
  {
    "title": "{{ gettext("Get Involved") }}",
    "desc": "{{ gettext("Get Involved Desc") }}",
    "image": "/img/cta-Get-Involved.jpg",
    "url": "/{{localeInfo.lang}}/getinvolved"
  }]
{% endblock %}
