{% extends "layout.html" %}
{% block title %}{{ gettext("Badges") }}{% endblock %}
{% block body %}

<section>
  <div class="container">
    <div class="panel panel-badges">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div id="badge" class="badge"><img src="{{ badge.imageUrl }}"></div>
            <p class="badge-tags">
              <span class="fa fa-tags"></span>
              {% for tag in badge.tags %}
              <a href="/{{localeInfo.lang}}/search?type=tags&q={{ tag.value }}" class="badge-tag">{{ tag.value }}</a>
              {% endfor %}
            </p>
          </div>
          <div class="col-sm-9">
            <h1>{{ badge.name }}</h1>
            {% if badge.issuer %}
              <p>{% if badge.issuer.imageUrl %}<img class="issuer-avatar" src="{{ badge.issuer.imageUrl }}"> {% endif %}{{ gettext("BadgesIssuedBy") }} <a href="{{ badge.issuer.url }}">{{ badge.issuer.name }}</a></p>
            {% else %}
            <p>{{ gettext("BadgesIssuedBy") }} <a href="{{ badge.issuerUrl }}">{{ badge.issuerUrl }}</a></p>
            {% endif %}
            <p>{{ badge.earnerDescription | markdown | safe }}</p>
            <p class="deprecation-notification">
              <span class="deprecation-marker">{{ gettext("Deprecation Marker") }}</span>
              {{ gettext("Deprecation Notification") }}
              <a href="https://blog.webmaker.org/whats-next-for-webmaker-tools">
                {{ gettext("Deprecation Details")}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}{% endblock %}
{% block require_page %}pages/badge-detail{% endblock %}
