{% extends "layout.html" %}
{% block title %}{{ gettext("Badges") }}{% endblock %}
{% block body %}
<section id="badges-admin-container" data-slug="{{ badge.slug }}">
  <div class="container">

    <div class="panel panel-badges">
      <div class="panel-body">

        <h1><a href="./">{{ gettext("Badges Admin") }}</a> / {{ badge.name }}</h1>

        <div class="error badges-error alert alert-danger hidden">
          <p>{{ gettext("BadgesError") }} <span class="error-message"></span></p>
        </div>

        <table class="table table-admin table-striped table-responsive">
          <thead>
            <tr>
              <th>{{ gettext("Email") }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="sr-only" for="issue_email">{{ gettext("Email") }}</label>
                <input name="issue_email" class="form-control">
              </td>
              <td><button class="btn btn-success issue-btn"><span class="icon icon-plus"></span> {{ gettext("Issue new badge") }}</button></td>
            </tr>
            {% for instance in instances %}
            <tr data-email="{{ instance.email }}">
              <td>{{ instance.email }}</td>
              <td><button class="btn btn-danger revoke-badge" data-email="{{ instance.email }}">{{ gettext("Revoke badge") }}</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
{% block require_page %}pages/badge-admin{% endblock %}
