{% extends "layout.html" %}
{% block title %}{{ gettext("Badges") }}{% endblock %}
{% block body %}

<section>
  <div class="container">
    <div class="panel panel-badges">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div id="badge"><img src="{{ badge.imageUrl }}"></div>
            <p class="badge-tags">
              <span class="icon-tags"></span>
              {% for tag in badge.tags %}
              <a href="/{{localeInfo.lang}}/search?type=tags&q={{ tag }}" class="badge-tag">{{ tag }}</a>
              {% endfor %}
            </p>
          </div>
          <div class="col-sm-9">
            <h1>{{ badge.name }}</h1>
            <p><span class="logo"></span> {{ gettext("BadgesIssuedBy") }} <a href="{{ badge.issuerUrl }}">{{ badge.issuerUrl }}</a></p>
            <p>{{ badge.earnerDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="requirements">

  <div class="container application-on hidden">
    <div class="login-only">
      <div id="submit-badge-success" class="panel panel-info panel-badges hidden">
        <div class="panel-body">
          <h2>{{ gettext("GotApplication") }}</h2>
          <p>{{ gettext("ReplyToEmail") | safe }}</p>
        </div>
      </div>

      <div id="application" class="panel panel-navy panel-badges">
        <div class="panel-body">
          <button id="close-panel" class="btn"><span class="icon-remove"></span></button>
          <h2>{{ gettext("Apply for this badge") }}</h2>
          <div id="submit-badge-error" class="alert alert-danger hidden">
            <p>{{ gettext("BadgesError") }}</p>
          </div>
          <form id="submit-badge-application">
            <div class="form-group">
              <label for="evidence">{{ gettext("BadgesEvidenceLabel") }}</label>
              <textarea class="form-control" name="evidence" placeholder="{{ gettext("BadgesIncludeLinks") }}" required></textarea>
            </div>
            <div class="form-inline">
              <label for="claimcode">{{ gettext("HaveClaimCode") }}</label><a href="https://badges.mozilla.org" target="_blank">{{ gettext("Submit with a claim code here") }}</a><!--  <input class="form-control" name="claimcode" placeholder="Enter it here"> -->
              <button name="submit" class="btn btn-primary btn-lg pull-right">{{ gettext("Submit") }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>{{ gettext("Badge Requirements") }}
      <span class="application-off">
        <button id="apply-now" class="btn btn-lg btn-success pull-right login-only hidden">{{ gettext("Apply now") }}</button>
        <button class="btn btn-lg btn-success pull-right logout-only hidden webmaker-login">{{ gettext("Login to apply") }}</button>
      </span>
    </h2>
    <ol class="list-badges-requirements list-unstyled">
      {% for criteria in badge.criteria %}
      <li>{{criteria.description | markdown | safe }}</li>
      {% endfor %}
    </ol>
  </div>

</section>

{% endblock %}
{% block footer %}{% endblock %}
{% block require_page %}pages/badge-detail{% endblock %}
