{% extends "layout.html" %}
{% block title %}{{ gettext("Badges") }}{% endblock %}
{% block body %}
<section id="badges-admin-container">
  <div class="container">
    <div class="panel panel-badges">
      <div class="panel-body">
        <h1>{{ gettext("Badges Admin") }}</h1>
          <p>{{ gettext("Choose a badge to issue it and see users who have received it.") }}</p>
          <div>
            {% for badge in badges %}
            <div class="row badge-row-admin">
              <a href="/{{localeInfo.lang}}/admin/badges/{{badge.slug}}">
                <div class="col-xs-4 col-sm-2">
                  <img src="{{badge.imageUrl}}">
                </div>
                <div class="col-xs-8 col-sm-10">
                  <h3>{{ badge.name }}</h3>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
