<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/ext/css/font-awesome.css">
  <link media="screen" rel="stylesheet" href="/css/style.css">
  <link media="screen" rel="stylesheet" href="/css/make-details.css">
</head>
<body class="details-{{tool}}" data-tool="{{tool}}" data-url="{{url}}">
  <div id="content">
    <div id="mobile-warning">
      <h1>Hey, just so you know, this site isn't fully functional on mobile.</h1>
    </div>
    {% if remixList %}
      <div class="ui-wrapper">
        <div class="ui-row">
          <!-- LH side of make-details -->
          <div class="g-2 remixed-from">

            <div class="remix-info">
              {% if remixedFromData %}
              <span class="remixed-from-txt">Remixed from</span>
              <a target="_blank" href="{{ remixedFromData.url }}"><span class="remixed-user">@{{ remixedFromData.username }}</span></a>
              {% endif %}
              <div class="make-type-{{type}}">
                <div class="make-thumbnail{% if thumbnail %} thumbnail" style="background-image:url({{ thumbnail }}){% endif %}"></div>
              </div>
            </div>

            {% if remixList.length %}
            <div class="remixed-by">
              {{remixCount}} by
              <ul class="remixed-by-list">
                {% for remix in remixList %}
                <li><a target="_blank" href="{{remix.url}}">@{{remix.username}}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

          </div>

          <!-- RH side of make-details -->
          <div class="g-6 make-details-deets">

            <div class="ui-row">
              <h1 class="make-title">{{ title }}</h1>
            </div>

            <div id="url" class="ui-row">
              <a target="_blank" href="{{url}}" class="make-url">{{url}}</a>
            </div>

            <div class="ui-row">
              <div class="user-info">
                <img class="make-user-gravatar" src="https://secure.gravatar.com/avatar/{{ emailHash }}?s=40d=https%3A%2F%2Fstuff.webmaker.org%2Favatars%2Fwebmaker-avatar-44x44.png" alt="{{ username}}">
                <span class="made-by">
                  Made by
                  <a target="_blank" class="make-username" href="/u/{{ username }}">@{{ username }}</a>
                  <span class="make-relative-date">{{ createdAt }}</span>
                </span>
              </div>

              <span class="social-media">
                <a id="share-btn" class="share ui-btn"><span class="icon-share"></span> Share</a>
                <span id="share-container" class="hidden">
                  <a target="_blank" id="google-btn"></a>
                  <a target="_blank" id="twitter-btn"></a>
                  <a target="_blank" id="fb-btn"></a>
                </span>
              </span>
            </div>

            <p class="built-with"><span class="built-with">Built with</span>
              <span class="icon-{{tool}}"></span>
              <a target="_blank" href="{{remixurl}}" class="tool-name">{{ tool }}</a>
            </p>

            <p class="make-desc">{{ description }}</p>

          </div>
        </div>
      </div><!-- ui-wrapper -->
    </div><!-- content -->
    {% else %}
    <div class="make-error">
      {{error}}
    </div>
    {% endif %}
  </div>
  <script src="/ext/js/require.js"></script>
  <script>
    requirejs.config({
      baseUrl: '/js',
      paths: {
        'jquery': '../ext/js/jquery-1.9.1',
        'social': '../ext/js/socialmedia'
      }
    });
    require(['pages/details']);
  </script>
</body>
</html>
