{% extends "layout.html" %}
{% block title %}Error - {{code}}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">
  <div class="ui-poster error-container">
    <div class="error-code">
      <img class="error-img" src="/img/webmaker-404.png">
    </div>
    <div>
      {% if code == 404 %}
      404: You found a loose thread!<br>Please try a <a href="/search">search</a> or visit our <a href="/">homepage.</a>
      {% else %}
      {{code}}: {{message}}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
