{% extends "layout.html" %}
{% block title %}{{ gettext("Feedback") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster">
    <img src="/img/feedback-hero.jpg" alt="" class="hero">
  </div>

  <div class="ui-section extra-margin">
    <div class="ui-row">
      <h1>{{ gettext("How are we doing?") }}</h1>

      <div class="subtitle">{{ gettext("how are we doing sub") }}</div>
    </div>

    <div class="ui-row">
      <ul class="chevron-list">
        <li><a class="anchor-slide" href="#fill-out-survey">{{ gettext("Fill out our survey") }}</a></li>
        <li><a class="anchor-slide" href="#submit-a-bug">{{ gettext("Submit a bug on Bugzilla") | safe }}</a></li>
        <li><a class="anchor-slide" href="#host-user-testing">{{ gettext("Host a user testing session") }}</a></li>
      </ul>
    </div>
  </div>

  <div id="fill-out-survey" class="ui-section green colored">
    <h3 class="step-number">1</h3>

    <h2>{{ gettext("Fill out our survey") }}</h2>

    <p>{{ gettext("Fill out our survey paragraph") | safe }}</p>

    <div class="img-and-button">
      <img src="/img/feedback-checks.svg">
      <a href="http://mzl.la/survey-summer2013" target="_blank" class="big-button white">{{ gettext("Start the survey now") }}</a>
    </div>
  </div>

  <div id="submit-a-bug" class="ui-section dark-grey colored">
    <h3 class="step-number">2</h3>

    <h2>{{ gettext("Submit a bug on Bugzilla") | safe }}</h2>

    <p>{{ gettext("Our team uses an issue tracker") }} {{ gettext("Anyone can submit a bug.") }} {{ gettext("bug doesn’t necessarily mean there’s something wrong") | safe }}</p>
    <p>{{ gettext("When you file your bug") | safe }}</p>

    <div class="status-whiteboard">
      <div class="bugzilla">
        <div class="status">{{ gettext("Status") }}<br> {{ gettext("Whiteboard:") }}</div>
        <div class="feedback">{{ gettext("Feedback") }}</div>
      </div>
      <div class="subheader">{{ gettext("If you don’t see the Whiteboard field") }}</div>
    </div>

    <div class="quick-links">
      <div class="ql-header">{{ gettext("Quick links:") }}</div>

      <ul>
        <li><a href="https://blog.webmaker.org/bugzilla-for-webmaker" target="_blank">{{ gettext("Getting Started with Bugzilla") }}</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Webmaker&component=webmaker.org" target="_blank">{{ gettext("Submit a bug for Webmaker.org") }}</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Webmaker&component=Popcorn%20Maker" target="_blank">{{ gettext("Submit a bug for Popcorn Maker") }}</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Webmaker&component=Thimble" target="_blank">{{ gettext("Submit a bug for Thimble") }}</a></li>
      </ul>
    </div>

    <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Webmaker" target="_blank" class="big-button white">{{ gettext("Submit a bug now") }}</a>
  </div>

  <div id="host-user-testing" class="ui-section blue colored">
    <h3 class="step-number">3</h3>

    <h2>{{ gettext("Host a user testing session") }}</h2>

    <p>{{ gettext("Host a user testing paragraph") }}</p>

    <div class="ol-and-circle-wrapper">
      <div class="wrapper">
        <ol class="ol-circled white">
          <li><span class="number">1</span> <span class="text"><strong>{{ gettext("Familiarize yourself with our survey") | safe }}</strong></span></li>
          <li><span class="number">2</span> <span class="text">{{ gettext("Find a willing volunteer") | safe }}</span></li>
          <li><span class="number">3</span> <span class="text">{{ gettext("Shower your volunteer with love and Mozilla gear") | safe }}</span></li>
        </ol>

        <p class="sub-header"><span class="optional">{{ gettext("Optional") }}</span> <span class="details"><span><strong>{{ gettext("File follow-up bugs") }}</strong> {{ gettext("on Bugzilla!") }}<span> <span>{{ gettext("See how above") | safe }}</span></span></p>
      </div>

      <div class="circle-feature">
        <img src="/img/jbuck.jpg" class="circle-matte">
        <div class="subheader">{{ gettext("We are always thrilled to hear from users") }}</div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block CTA %}
  []
{% endblock %}
