{% extends "layout.html" %}
{% block title %}{{ gettext("Get Involved") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster">
    <img src="/img/img-Get-Involved-feature.jpg" alt="{{ gettext("Get Involved") }}">
  </div>

  <div class="ui-section">

    <div class="ui-row">
      <h1>{{ gettext("9 Ways to Get Involved with Webmaker") }}</h1>
      <div class="subtitle">{{ gettext("9 Ways to get Involved parapgraph") }}</div>
    </div>

    <div class="ui-row">
      <ul class="getinvolved-list">
        <li>
        <i class="icon-angle-right"></i>
        <h3><a href="/{{localeInfo.lang}}/tools">{{ gettext("Make something") }}</a></h3>
        <p>{{ gettext("Make something paragraph") | instantiate | safe }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a href="/{{localeInfo.lang}}/events">{{ gettext("Find or host an event") }}</a></h3>
        <p>{{ gettext("Find or host an event paragraph") | instantiate | safe }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a href="/{{localeInfo.lang}}/teach">{{ gettext("Teach the web") }}</a></h3>
        <p>{{ gettext("Teach the web paragraph") | instantiate | safe }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a href="/{{localeInfo.lang}}/mentor">{{ gettext("Become a mentor") }}</a></h3>
        <p>{{ gettext("Become a mentor paragraph") }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a target='_blank' href="//sendto.mozilla.org/page/contribute/join-mozilla?source=join_link]">
          {{ gettext("Donate to Webmaker") }}</a></h3>
        <p>{{ gettext("Donate to Webmaker paragraph") }} {{ gettext("support our work") | safe }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a target='_blank' href="https://support.mozilla.org/kb/top-tips-creating-great-teaching-kits">
          {{ gettext("Contribute a guide or resource") }}</a></h3>
        <p>{{ gettext("Contribute a guide or resource paragraph") }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a href="/{{localeInfo.lang}}/feedback">
          {{ gettext("Help with beta-testing & quality assurance") }}</a></h3>
        <p>{{ gettext("new Webmaker tools and projects") | instantiate | safe }} 
          {{ gettext("participate in user testing paragraph") }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a target='_blank' href="https://support.mozilla.org/kb/contribute-webmaker-code">{{ gettext("Contribute code") }}</a></h3>
        <p>{{ gettext("Contribute code paragraph") }}</p>
        </li>
        <li>
        <i class="icon-angle-right"></i>
        <h3><a target='_blank' href="//sendto.mozilla.org/page/s/sign-up-for-mozilla?source=default_signup">
          {{ gettext("Communicate") }}</a></h3>
        <ul class="communicate">
          <li><strong>{{ gettext("Sign up for Webmaker announcement list") | safe }} 
            {{ gettext("Receive occasional email paragraph") | safe }}</li>
          <li><strong>{{ gettext("Join the Webmaker newsgroup") | safe }}</strong>
          {{ gettext("active daily discussion paragraph") }}</li>
          <li>{{ gettext("Connect through social media") | safe }}</li>
          <li><strong>{{ gettext("Say hello on a Webmaker cummunity call") | safe }}</strong>
          {{ gettext("Join our community call") }}</li>
          <li><strong>{{ gettext("Wait, there's more!") }}</strong>
          {{ gettext("connect in many ways.") }} 
          {{ gettext("Visit our communications wiki") | safe }}</li>
        </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
