{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}Home{% endblock %}
{% block midbar %}
<!-- check for search right when page loads -->
{{ galleryHeader("Make Something with Webmaker.", "We're a global community that doesn't just use the web, we <em>make</em> it by creating, remixing and teaching. <a href='/login'>Sign up</a> and start making!",
      [ {'title': 'Filter projects by...', 'value': 'dummy', 'default': true },
       { 'title': 'Featured', 'value': 'featured' },
       { 'title': 'Popcorn', 'value': 'popcorn' },
       { 'title': 'Thimble', 'value': 'thimble' } ]) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  {% include "gallery.html" %}
</div>
{% endblock %}
{% block require_page %}pages/index{% endblock %}
{% block scripts %}
<script type="text/javascript">
var hash = window.location.hash;
if( hash.length > 0 ) {
  var tag = hash.slice(1);
  window.location = window.location.origin + '/t/' + tag;
}
</script>
{% endblock %}


