{% extends "layout.html" %}

{% include "macros.html" %}

{% block title %}{{ gettext("Explore") }}{% endblock %}
{% block midbar %}

{% set header = gettext("galleryHeader") %}
{% set desc = gettext("indexDesc") %}
{% set filterprojectby = gettext("Filter projects by...") %}
{% set featured = gettext("Featured") %}

<!-- check for search right when page loads -->
{{ galleryHeader(header, desc,
      [ {'title': filterprojectby, 'value': 'dummy', 'default': true },
       { 'title': featured, 'value': 'featured' },
       { 'title': 'Popcorn', 'value': 'popcorn' },
       { 'title': 'Thimble', 'value': 'thimble' },
       { 'title': 'Appmaker', 'value': 'appmaker' } ]) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  {% include "gallery.html" %}
</div>
{% endblock %}
{% block require_page %}pages/index{% endblock %}
