{% raw %}
<!doctype html>

<html lang="{{lang}}" dir="{{direction}}" xmlns:ng="http://angularjs.org" ng-app="webmakerApp" id="ng-app">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind-html="'Explore' | i18n"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- We have to do this to make sure we display the page when localization has been loaded. -->
    <style>
      html, body {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- Note: this file is rendered with Less middleware can be found at /less/explore/main.less -->
    <link rel="stylesheet" ng-href="/css/explore/main.{{direction}}.css">
</head>
<body>

  <div ng-controller="createUserController"></div>

  <div class="wrapper">
    <header class="explore-nav" ng-include="'/views/partials/navigation.html'" ng-controller="navigationController"></header>
  </div>
  <section class="main">
    <div class="explore-main" ng-view=""></div>
  </section>
  {% endraw %}
  {# From here on, everything is rendered with nunjucks #}
  <script src="/{{ localeInfo.lang }}/angular-config.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script src="/compiled/dependencies.min.js"></script>
  <script src="/compiled/app.min.js"></script>

</body>
</html>
