<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="X-CSRF-Token" content="{{ csrf }}">
  <meta name="login-url" content="{{ loginAPI }}">
  <meta name="persona-email" content="{{ email }}">
  <title>{% block title %}{% endblock %} - Mozilla Webmaker</title>
  {% block css %}{% endblock %}
  <link rel="stylesheet" href="/ext/css/font-awesome.css">
  <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ loginAPI }}/css/nav.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>
<body id="{{ page }}" {% if view %}class="{{ view }}"{% endif %} data-endpoint="{{ makeEndpoint }}">
<div class="webmaker-outer-wrapper">
  {% block header %}
  <header id="webmaker-nav">
    <nav class="webmaker-nav-container">
      <div class="user-nav-container">
        <a id="logo" href="/"><img src="/img/logo.png" alt="Mozilla Webmaker"></a>
        <ul class="webmaker-nav user-info">
          <li class="user">
            Hi <span id="identity" class="user-name-container"></span>
          </li>
          <li class="makes"><a href="/me">My makes</a></li>
          <li>
            <iframe src="{{audience}}/sso/include.html" class="include-frame"></iframe>
          </li>
        </ul>
        <ul class="nav-list">
          <li>
            <a {% if page == 'index' %}class="on"{% endif %} id="nav-index" href="/">Make</a>
            <div class="makenav-hover">
              <a href="/t/webmaker%3Atemplate" class="makenav-hover-item">
                <img src="/img/icon-make-template.png" alt="From Template" />
                <span>From template</span>
              </a>
              <a href="https://popcorn.webmaker.org/editor/" class="makenav-hover-item">
                <img src="/img/icon-make-popcorn.png" alt="Popcorn Maker" />
                <span>Popcorn Maker</span>
              </a>
              <a href="https://thimble.webmaker.org/" class="makenav-hover-item">
                <img src="/img/icon-make-thimble.png" alt="Thimble" />
                <span>Thimble</span>
              </a>
              <div class="help">
                <i class="icon-info-sign"></i><span>Not sure what to make? <a href="/tools">Let us help.</a></span>
              </div>
            </div>
          </li>
          <!-- <li><a {% if page == 'learn' %}class="on"{% endif %} id="nav-learn" href="/learn">Learn</a></li> -->
          <li><a {% if page == 'teach' %}class="on"{% endif %} id="nav-teach" href="/teach">Teach</a></li>
          <li><a {% if page == 'events' %}class="on"{% endif %} id="nav-events" href="/events">Events</a></li>
          <li><a class="search-trigger{% if page == 'search' %} on{% endif %}" id="nav-search" href="/search"><span class="icon-search"></span></a></li>
        </ul>
      </div>
      <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
    </nav>
  </header>
  {% endblock %}
  <div id="midbar">{% block midbar %}{% endblock %}</div>

  <main id="content" class="content {% if page != 'events' %} clearfix {% endif %}">{% block body %}{% endblock %}</main>

  <footer class="footer">
    <div id="footer-actions">
      {% if page == 'index' or page == 'teach' %}
      <button class="load-more">Load more <span class="icon-angle-down"></span></button>
      {% endif %}
      <button class="backToTop">Back to top <span class="icon-angle-up"></span></button>
    </div>
    {% block footer %}
    <section class="make-footer">
      <div class="c-leftarrow cta-arrow hide">
        <i class="icon-angle-left"></i>
      </div>
      <div class="carousel-wrapper">
        <div class="make-wrapper"></div>
      </div>
      <div class="c-rightarrow cta-arrow hide">
        <i class="icon-angle-right"></i>
      </div>
    </section>
    {% endblock %}
    <div class="partnerWrapper">
    <section class="partners">
      <span class="partners-header">
        With support from our wonderful partners and Mozillians like you!
        <img class="refresh-sponsors" src="/img/icon-refresh.png" alt="Refresh Sponsors" />
      </span>
      <ul class="sponsors">
        <li>Chicago Community Trust</li>
        <li>Chicago Instructional Technology Foundation</li>
        <li>City of Chicago</li>
        <li>Corporation for Public Broadcasting</li>
        <li>U.S. Department of Energy</li>
        <li>Ford Foundation</li>
        <li>Google</li>
        <li>Intel</li>
        <li>Knight Foundation</li>
        <li>MacArthur Foundation</li>
        <li>National Endowment for the Arts</li>
        <li>NESTA</li>
        <li>The Nominet Trust</li>
        <li>National Science Foundation</li>
        <li>Ontario Trillium Foundation</li>
        <li>Social Science Research Council</li>
        <li>Alfred P. Sloan Foundation</li>
        <li>Telefonica</li>
        <li>ZeroDivide</li>
      </ul>
      <div class="footerHr"></div>
      <ul class="social">
        <li><a href="//twitter.com/mozilla"><i class="footer-social icon-twitter"></i> @mozilla</a></li>
        <li><a href="//twitter.com/webmaker"><i class="footer-social icon-twitter"></i> @webmaker</li>
        <li><a href="//plus.google.com/u/2/communities/106022863174952221205"><i class="footer-social icon-google-plus"></i> google+</li>
        <li><a href="http://mozillawebmaker.tumblr.com/"><i class="footer-social icon-tumblr"></i> tumblr</a></li>
        <li id="email-li">
        <div class="newsletter">
          <form id="privacy-form" action="https://sendto.mozilla.org/page/s/webmaker" method="post">
            <input type="email" id="email-updates" name="email" placeholder="Sign up for email updates" required />
            <button id="email-submit" type="submit">
              <i class="icon-chevron-right"></i>
            </button>
              <div class="privacy-box">
                <div class="checkbox">
                  <input id="theCheckbox" name="custom-1216" type="checkbox" required />
                </div>
                <div class="privacy-desc">
                  I'm okay with you handling this info as you explain in your
                  <a href="/privacy">privacy policy</a>.
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
      <ul class="links">
        <li><a href="http://blog.webmaker.org">Blog</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/getinvolved">Get involved</a></li>
        <li><a href="https://sendto.mozilla.org/page/contribute/join-mozilla?source=join_link">Donate</a></li>
        <li><a href="mailto:makerparty@mozilla.org">Contact</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Legal</a></li>
      </ul>
    </section>
  </div>
  </footer>
  <div class="mobile"></div>
</div><!-- webmaker-outer-wrapper -->
<script>
window.cta = {% block CTA %}
  [{
    "title": "Tools",
    "desc": "Create an original or a remix using Popcorn Maker and Thimble.",
    "image": "/img/cta-Tools.jpg",
    "url": "/tools"
  },
  {
    "title": "Teach",
    "desc": "Teach the world digital literacy and webmaking.",
    "image": "/img/cta-Teach.jpg",
    "url": "/teach"
  },
  {
    "title": "Maker Party",
    "desc": "From now to Sept 15, join other webmakers in a global Maker Party.",
    "image": "/img/cta-Party.jpg",
    "url": "/party"
  },
  {
    "title": "About Us",
    "desc": "Learn more about who we are and what makes us tick.",
    "image": "/img/cta-About-us.jpg",
    "url": "/about"
  }];
{% endblock %} ;
</script>
<script src="{{ personaSSO }}/sso/include.js"></script>
<script>
// XXX: we need to load this after require loads jquery, but can't hard-code a path
// in the require config.
window.__loginAPI = "{{ loginAPI }}";
</script>
<script src="/js/make-api.js"></script>
<script src="/ext/js/packery.js"></script>
<script src="/ext/js/require.js" data-main="{% block require_main %}/js/main{% endblock %}"></script>
{% block scripts %}{% endblock %}

{% if ga_account %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ ga_account }}']);
  {% if ga_domain %}
  _gaq.push(['_setDomainName', '{{ ga_domain }}']);
  {% endif %}
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>
