<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="X-CSRF-Token" content="{{ csrf }}">
  <meta name="login-url" content="{{ loginAPI }}">
  <meta name="persona-email" content="{{ email }}">
  <meta name="maker-id" content="{{ makerID }}">

  <title>{% block title %}{% endblock %} - {{ gettext("Mozilla Webmaker") }}</title>
  {% block css %}{% endblock %}
  <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ loginAPI }}/css/nav.css">
  <link rel="stylesheet" href="/css/style.css">

  <!--[if lte IE 9]><link rel="stylesheet" href="/css/warning.css"><![endif]-->

  <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>

<body id="{{ page }}" {% if view %}class="{{ view }}"{% endif %} data-endpoint="{{ makeEndpoint }}">

<div id="browser-warning">
  <p>{{ gettext("browserUpgradeWarning") | safe }}</p>
</div>

<div class="webmaker-outer-wrapper">
  {% block header %}
  <header id="webmaker-nav">
    <nav class="webmaker-nav-container">
      <div class="ui-grid-wrapper">
        <div class="user-nav-container">
          <a id="logo" href="/{{localeInfo.lang}}/"><img src="/img/logo.png" alt="{{ gettext("Mozilla Webmaker") }}"></a>
          <ul class="webmaker-nav user-info">
            <li class="lang-picker">
              <select id="lang-picker" data-supported="{{supportedLanguages}}">
              {% for language in listDropdownLang %}
                <option {% if languageNameFor(localeInfo.lang) == languageNameFor(language) %} selected="selected" {% endif %} value="{{language}}">{{ languageNameFor(language) }}</option>
              {% endfor %}
              </select>
            </li>

            <li class="new-user">
              <div class="ui-append ui-select ui-select-hover user">
                <span class="ui-selected">
                  {{ gettext("Hi") }} <span id="identity" class="user-name-container"></span>
                  <a class="icon icon-caret-down"></a>
                </span>
                <div class="ui-select-menu">
                  <ul>
                    <li class="makes"><a href="/{{localeInfo.lang}}/me"><span class="icon icon-th-large"></span> {{ gettext("My makes") }}</a></li>
                    <li><a href="{{ loginAPI }}/account"><span class="icon icon-gear"></span> {{ gettext("My Settings") }}</a></li>
                    {% if PROFILE_URL %}
                    <li class="profile-link">
                      <a href="{{ PROFILE_URL | instantiate }}">
                        <span class="icon icon-user"></span> {{ gettext("My Profile") }}
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <iframe src="{{audience}}/{{localeInfo.lang}}/sso/include.html" class="include-frame"></iframe>
            </li>
            <li class="more-btn"><a href="#" class="navigation-more"><span class="icon-reorder"></span></a></li>
          </ul>
        </div>
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
      </div>
    </nav>

    {% include "components/navigation.html" %}

  </header>
  {% endblock %}
  <div id="midbar">{% block midbar %}{% endblock %}</div>

  <main id="content" class="content {% if page != 'events' %} clearfix {% endif %}">{% block body %}{% endblock %}</main>

  <footer class="footer">
    <div id="footer-actions">
      {% if layout %}
      <a class="load-more">{{ gettext("Load more") }} <span class="icon-angle-down"></span></a>
      {% endif %}
      <a class="back-to-top anchor-slide" href="#">{{ gettext("Back to top") }} <span class="icon-angle-up"></span></a>
    </div>

    {% block footer %}
    <section class="make-footer">
        <div class="make-wrapper"></div>
    </section>
    {% endblock %}

    <div class="partnerWrapper">
      <section class="partners">
        <header class="partners-header">
          {{ gettext("Mozillaian like you") }}
        </header>

        <ul class="sponsors">
          <li>Chicago Community Trust</li>
          <li>Chicago Instructional Technology Foundation</li>
          <li>City of Chicago</li>
          <li>Corporation for Public Broadcasting</li>
          <li>U.S. Department of Energy</li>
          <li>Ford Foundation</li>
          <li>Google</li>
          <li>Intel</li>
          <li>Knight Foundation</li>
          <li>MacArthur Foundation</li>
          <li>National Endowment for the Arts</li>
          <li>NESTA</li>
          <li>The Nominet Trust</li>
          <li>National Science Foundation</li>
          <li>Ontario Trillium Foundation</li>
          <li>Social Science Research Council</li>
          <li>Alfred P. Sloan Foundation</li>
          <li>Telefonica</li>
          <li>ZeroDivide</li>
        </ul>

        <div class="footerHr"></div>

        <ul class="social">
          <li><a href="//twitter.com/mozilla"><i class="footer-social icon-twitter"></i> @mozilla</a></li>
          <li><a href="//twitter.com/webmaker"><i class="footer-social icon-twitter"></i> @webmaker</a></li>
          <li><a href="//plus.google.com/u/2/communities/106022863174952221205"><i class="footer-social icon-google-plus"></i> google+</a></li>
          <li><a href="http://mozillawebmaker.tumblr.com/"><i class="footer-social icon-tumblr"></i> tumblr</a></li>

          <li id="email-li">
            <div class="newsletter">
              <form id="privacy-form" action="https://sendto.mozilla.org/page/s/webmaker" method="post" novalidate>
                <input type="email" id="email-updates" name="email" autocomplete="off" placeholder="{{ gettext("Sign up for email updates") }}" required data-powertip='
                  <div class="privacy-desc">
                    <div><input type="checkbox" id="newsletter-signup-checkbox-proxy" /></div>
                    <label for="newsletter-signup-checkbox-proxy">{{ gettext("privacy-desc") }} <a href="/{{localeInfo.lang}}/privacy" target="_blank">{{ gettext("privacy policy") }}</a>.</label>
                  </div>'/>

                <button id="email-submit" type="submit">
                  <i class="icon-chevron-right"></i>
                </button>

                <input id="newsletter-signup-checkbox" name="custom-1216" type="checkbox" required />
              </form>
            </div>
          </li>
        </ul>

        <ul class="links">
          <li><a href="http://blog.webmaker.org">{{ gettext("Blog") }}</a></li>
          <li><a href="/{{localeInfo.lang}}/about">{{ gettext("About Us") }}</a></li>
          <li><a href="/{{localeInfo.lang}}/getinvolved">{{ gettext("Get Involved") }}</a></li>
          <li><a href="https://sendto.mozilla.org/page/contribute/join-mozilla?source=join_link">{{ gettext("Donate") }}</a></li>
          <li><a href="mailto:makerparty@mozilla.org">{{ gettext("Contact") }}</a></li>
          <li><a href="/{{localeInfo.lang}}/privacy">{{ gettext("Privacy") }}</a></li>
          <li><a href="/{{localeInfo.lang}}/terms">{{ gettext("Legal") }}</a></li>
          <li><a href="/{{localeInfo.lang}}/feedback">{{ gettext("Feedback") }}</a></li>
          <li><a href="https://support.mozilla.org/products/webmaker">{{ gettext("Help") }}</a></li>
        </ul>
      </section>
    </div>
  </footer>

  <div class="mobile"></div>
</div>

<script type="application/json" id="block-cta">
  {% block CTA %}
    [{
      "title": "{{ gettext("Tools") }}",
      "desc": "{{ gettext("Use our Tools Desc") }}",
      "image": "/img/cta-Tools.jpg",
      "url": "/{{localeInfo.lang}}/tools"
    },
    {
      "title": "{{ gettext("Teach") }}",
      "desc": "{{ gettext("Teach Desc") }}",
      "image": "/img/cta-Teach.jpg",
      "url": "/{{localeInfo.lang}}/teach"
    },
    {
      "title": "{{ gettext("Maker Party") }}",
      "desc": "{{ gettext("Maker Party Desc") }}",
      "image": "/img/cta-Party.jpg",
      "url": "/{{localeInfo.lang}}/party"
    },
    {
      "title": "{{ gettext("About Us") }}",
      "desc": "{{ gettext("About Us Desc") }}",
      "image": "/img/cta-About-us.jpg",
      "url": "/{{localeInfo.lang}}/about"
    }]
  {% endblock %}
</script>

<script src="{{ personaSSO }}/sso/include.js"></script>
<script>
// XXX: we need to load this after require loads jquery, but can't hard-code a path
// in the require config.
window.__loginAPI = "{{ loginAPI }}";
</script>
<script id="require-js" src="/bower/requirejs/require.js"
  data-main="{% block require_main %}/js/main.js{% endblock %}"
  data-page="{% block require_page %}{% endblock %}">
</script>

{% block scripts %}{% endblock %}

{% if ga_account %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ ga_account }}']);
  {% if ga_domain %}
  _gaq.push(['_setDomainName', '{{ ga_domain }}']);
  {% endif %}
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>
