{% extends "layout.html" %}
{% include "macros.html" %}
{% block title %}{{ wlc.title() }} - {{ wlc.version }}{% endblock %}
{% block body %}

<div class="container">
  <h1>{{ wlc.title() }} ({{ wlc.version }})</h1>
  <p class="lead">{{ gettext('StandardMainDesc') }}</p>
  <p class="lead">{{ gettext('StandardMainDescInProgress') | safe }}</p>
  <ul class="list-hanging list-unstyled">
  {% for strand, literacies in wlc.allByStrand() %}
    <li>
      <h3 class="strand" id="{{ strand }}"><a href="#{{ strand }}">{{ strand }}</a></h3>
      <ul class="list-unstyled">
        {% for literacy in literacies %}
        <li>
          <h4 class="competency" id="{{ literacy.term }}"><a href="#{{ literacy.term }}">{{ literacy.term }}</a></h4>
          <p class="description">{{ literacy.description }}</p>
          <ul>
            {% for point in wlcPoints[literacy.tag] %}
            <li>{{ gettext(point) }}</li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>

  </div>
  <div class="well well-web-literacy">
    <h3>{{ gettext('StandardFooterTranslate') }}</h3>
    <a class="literacy-button" href="https://support.mozilla.org/{{localeInfo.lang}}/kb/translate-webmaker" target="_blank"><span>{{ gettext('StandardFooterButton') }} <i class="icon-circle-arrow-right"></i></span></a>
    </div>
  </div>

{% endblock %}
