{% extends "layout.html" %}
{% include "macros.html" %}
{% block title %}{{ wlc.title() }} - {{ wlc.version }}{% endblock %}
{% block body %}

  <div class="container">
    <h1>{{ wlc.title() }} ({{ wlc.version }})</h1>
    <p class="lead">{{ gettext('StandardMainDesc1') }}</p>
    <p class="lead">{{ gettext('StandardMainDesc2') | safe }}</p>
    <p class="lead">{{ gettext('StandardMainDesc3') | safe }}</p>
  </div>
  <div class="well well-web-literacy">
    <h3>{{ gettext('StandardFooterTranslate') }}</h3>
    <a class="literacy-button" href="https://support.mozilla.org/{{localeInfo.lang}}/kb/translate-webmaker" target="_blank"><span>{{ gettext('StandardFooterButton') }} <i class="icon-circle-arrow-right"></i></span></a>
    </div>
  </div>

{% endblock %}
