{% macro galleryHeader(header, desc, options) %}
<div class="gallery-header">
  <div class="ui-wrapper">
    <div class="{% if desc %}g-6{% endif %} header">
      <h1>{{ header | safe }}</h1>
      {% if desc %}<p> {{ desc | safe }}</p>{% endif %}
    </div>
    {% if options.length %}
    <div class="g-2 filter hide">
      <div id="search">
        <div class="filter-bar">
          <label for="search-filter"><span class="icon-th"></span> Filter the gallery</label>
          <select id="search-filter">
            {% for option in options %}
              <option value="{{ option.value | safe }}"{% if (option.default) %} selected{% endif %}>{{ option.title | safe }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro searchmakes() %}
  {% for make in makes %}
    <div class="make {{makeSize}} make-type-{{make.type}}">
      <a class="make-link" href="{{make.url}}">
        <div class="make-thumbnail{% if make.thumbnail %} thumbnail" style="background-image:url({{make.thumbnail}});{% endif %}"></div>
        <div class="make-info">{{make.title}} by <a class="user-link" data-username="{{make.username}}">@{{make.username}}</a></div>
        <div class="btn-container">
          <a href="{{make.remixurl}}" class="ui-btn fork-btn fork-btn-label"><span class="icon-code-fork"></span> Remix</a>
        </div>
      </a>
    </div>
  {% endfor %}
{% endmacro %}

{% macro memakes() %}
  {% for make in makes %}
    <div class="make me-make medium make-type-{{make.type}}">
      <div class="make-thumbnail{% if make.thumbnail %} thumbnail" style="background-image:url({{make.thumbnail}});{% endif %}"></div>
      <div class="type-label"><span class="make-type">{{make.type}}</span></div>
      <div class="make-info">
        <p class="updatedAt">Updated {{make.updatedAt}}</p>
        <p class="title">{{make.title}}</p>
      </div>
      <div class="btn-container">
        <a href="{{make.editurl}}" target="_blank" class="ui-btn view-btn"><span class="icon icon-pencil"></span></a>
        <button type="submit" data-make-id="{{make._id}}" class="ui-btn delete-btn"><span class="icon icon-trash"></span></button>
      </div>
    </div>
  {% endfor %}
{% endmacro %}
