{% macro galleryHeader(header, desc, options) %}
<div class="gallery-header">
  <div class="wrapper">
    <div class="header">
      <h1>{{ header }}</h1>
      <p> {{ desc }}</p>
    </div>
    <div class="filter">
      <div id="search">
        <div class="filter-bar">
          <label for="search-filter"><img src="img/filter-grid-icon.png" /> Filter the gallery</label>
          <div id="search-filter" class="ui-append ui-select">
            <span class="ui-selected ui-smedium"></span>
            <a class="icon icon-chevron-down"></a>
            <div class="ui-select-menu">
              <ul>
                {% for option in options %}
                {% if (option.default) %}
                <li data-value="{{ option.value }}" data-selected>{{ option.title }}</li>
                {% else %}
                <li data-value="{{ option.value }}">{{ option.title }}</li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro gallery() %}
<div class="main-gallery">
  <div class="gutter-sizer"></div>
  <div class="grid-sizer"></div>
</div>
<div class="make clone-item"></div>
<div class="make-back clone-item">
  <h3 class="title"></h3>
  <p>by <span class="author"></span></p>
  <p><span class="description"></span></p>
</div>
<div class="make-teach clone-item">
  <h3 class="title"></h3>
  <p class="info level-info"><b>Level</b> <span class="level"></span></p>
  <p class="info skills-info"><b>Skills</b> <span class="skills"></span></p>
  <p class="author-info">Made by <span class="author"></span></p>
  <div class="actions">
    <a href="javascript:;" class="remix">Remix</a>
    <a href="javascript:;" class="share">Share</a>
  </div>
</div>
<div class="event-back clone-item">
  <h3 class="event-title"></h3>
  <p><span class="date"></span></p>
  <p><span class="place"></span></p>
  <p><span class="description"></span></p>
  <p>Organized by <span class="organizer"></span></p>
</div>
{% endmacro %}
