{% extends "layout.html" %}

{% include "macros.html" %}
{% block title %}{{ gettext("TeachTemplates") }}{% endblock %}
{% block midbar %}
{% set header = gettext("teachtemplateHeader") %}
{% set desc = gettext("teachtemplateDesc") %}
<div class="gallery-header">
  <div class="ui-wrapper">
    <div class="header">
      <h1>{{ header | safe }}</h1>
      <p> {{ desc | instantiate | safe }}</p>
    </div>
    <div class="helpbox">
      <img src="/img/img-teach-template-help.jpg">
      <p>{{ gettext("teachtemplateHelpCopy") | safe }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="ui-wrapper ui-body-nobg">

  <div class="ui-bg-column column-teachtemplate">
    <div dir="{{localeInfo.direction}}" class="banner teachkit">
      {{ gettext("teachingkit") }}
    </div>
    <h2>{{ gettext("teachingkit") }}</h2>
    <h3>{{ gettext("teachtemplateKitDesc") }}</h3>
    <a href="https://thimble.webmaker.org/project/10274/remix" class="ui-blue-btn kit-nudgeup">{{ gettext("Get started") }} <i class="icon-angle-right"></i></a>
    <img src="/img/img-teach-template-kit-preview.png" alt="{{gettext("teachingkit") }}">
  </div>
  <div class="ui-bg-column column-teachtemplate activity-column">
    <div class="note-paper-side"></div>
    <div class="note-paper"></div>
    <div dir="{{localeInfo.direction}}" class="banner teachactivity">
      {{ gettext("activity") }}
    </div>
    <h2>{{ gettext("activity") }}</h2>
    <h3>{{ gettext("teachtemplateActivityDesc") }}</h3>
    <a href="https://thimble.webmaker.org/project/10286/remix" class="ui-blue-btn">{{ gettext("Get started") }} <i class="icon-angle-right"></i></a>
    <div class="column-img">
      <img src="/img/img-teach-template-activity-preview.png" alt="{{gettext("activity") }}">
    </div>
  </div>

</div>
{% endblock %}
