{% extends "layout.html" %}
{% include "macros.html" %}
{% block title %}Me{% endblock %}
{% block midbar %}
  <div class="ui-wrapper">
    <div class="me-info">
      <h1 class="me-title">{{username}}, these are your makes:</h1>
    </div>
  </div>
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  <div class="main-gallery search-gallery">
    <div class="gutter-sizer"></div>
    {{ memakes() }}
  </div>
  {% if makes.length == 0%}
  <div class="no-makes">You don't have any {{view}} makes :(</div>
  {% endif %}
</div>
{% endblock %}
{% block require_main %}{% endblock %}
{% block scripts %}
<script>
  requirejs.config({baseUrl: '/js'});
  require(['app'], function (app) {
    require(['pages/me']);
  });
</script>
{% endblock %}
