{% extends "layout.html" %}
{% block title %}{{ gettext("Mentor") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">
  <div class="ui-poster">
    <img src="/img/img-Mentor-feature.jpg" alt="{{ gettext("Mentor") }}"/>
  </div>
  <div class="ui-section">
    <div class="ui-row">
      <h1>{{ gettext("Mentor an eager learner") }}</h1>
      <div class="subtitle">
        {{ gettext("Mentor an eager learner paragraph") | safe }}
      </div>
    </div>
    <div class="ui-row">
      <h2>{{ gettext("Who are Webmaker mentors?") }}</h2>
      <p>
        {{ gettext("We're techies") | safe }}
      </p>
    </div>
    <h2>{{ gettext("Meet some amazing mentors.") }}</h2>
    <div class="ui-row the-mentors">
      <div class="g-2 mentor-profile">
        <div class="mentor-header">
          <img src="/img/img-mentor-emma-erwin.jpg" class="mentor-img" alt="{{ gettext("Emma") }}"/>
          <h3>{{ gettext("Emma") }}</h3>
          <span>{{ gettext("Video remixing and open source for youth") }}</span>
        </div>
        <p>
          {{ gettext("About Emma") | safe }}
        </p>
      </div>
      <div class="g-2 mentor-profile">
        <div class="mentor-header">
          <img src="http://content-2011.mozillafestival.org/uploads/2011/09/jonrogers-sm.jpg" class="mentor-img" alt="{{ gettext("Jon") }}"/>
          <h3>{{ gettext("Jon") }}</h3>
          <span>{{ gettext("Making the web physical") }}</span>
        </div>
        <p>
          {{ gettext("About Jon") | safe }}
        </p>
      </div>
      <div class="g-2 mentor-profile">
        <div class="mentor-header">
          <img src="http://content-2012.mozillafestival.org/uploads/2013/01/unnati.jpg" class="mentor-img" alt="{{ gettext("Unnati") }}"/>
          <h3>{{ gettext("Unnati") }}</h3>
          <span>{{ gettext("Youth mentor") }}</span>
        </div>
        <p>
          {{ gettext("About Unnati") | safe }}
        </p>
      </div>
    </div>
    <div class="ui-row">
      <h2>{{ gettext("The Webmaker Mentor Badge") }}</h2>
      <img src="https://stuff.webmaker.org/badges/webmaker-mentor.png" class="badge-img">
      <p>
        {{ gettext("The Webmaker Mentor Badge Sub") | instantiate | safe }}
      </p>
    </div>
    <div class="ui-row">
      <h2>{{ gettext("How to become a Webmaker Mentor") }}</h2>
      <p>
        {{ gettext("Mentors help others learn") | safe }}
      </p>
      <ul>
        <li>{{ gettext("Creating and sharing resources") | instantiate | safe }}</li>
        <li>{{ gettext("Hosting Webmaker events") | instantiate | safe }}</li>
        <li>{{ gettext("Joining our weekly community calls") | safe }}</li>
      </ul>
    </div>
    <div class="ui-row">
      <h2>{{ gettext("Why become a Webmaker Mentor?") }}</h2>
      <ul>
        <li>{{ gettext("WhyBecomeMentorLI-1") | safe }}</li>
        <li>{{ gettext("WhyBecomeMentorLI-2") | safe }}</li>
        <li>{{ gettext("WhyBecomeMentorLI-3") | safe }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
