{% extends "layout.html" %}
{% block title %}{{ gettext("Party") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster party-banner">
    <img src="/img/img-Party-narrowbanner.png" alt="{{ gettext("Maker Party") }}" />
  </div>

  <div class="ui-section">
    <div id="save-the-date-header" class="ui-row">
      <h1>{{ gettext("Save the Date") }}</h1>
      <h2>{{ gettext("Save the Date header") }}</h2>
      <p>{{ gettext("Maker Party is Mozilla's global campaign") | safe }}</p>
      <div class="btn-container">
        <div class="text-muted">{{ gettext("Receive updates on Maker Party 2014") }}</div>
        <a class="btn btn-block-mobile green-button" href="https://sendto.mozilla.org/page/s/maker-party-2014-save-the-date"><span class="icon-bullhorn"></span>{{ gettext("Sign me up!") }}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "{{ gettext("Tools") }}",
    "desc": "{{ gettext("Use our Tools Desc") }}",
    "image": "/img/cta-Tools.jpg",
    "url": "/{{localeInfo.lang}}/tools"
  },
  {
    "title": "{{ gettext("Events") }}",
    "desc": "{{ gettext("Events Desc") }}",
    "image": "/img/cta-Party.jpg",
    "url": "/{{localeInfo.lang}}/events"
  },
  {
    "title": "{{ gettext("Teach") }}",
    "desc": "{{ gettext("Teach Desc") }}",
    "image": "/img/cta-Teach.jpg",
    "url": "/{{localeInfo.lang}}/teach"
  },
  {
    "title": "{{ gettext("About Us") }}",
    "desc": "{{ gettext("About Us Desc") }}",
    "image": "/img/cta-About-us.jpg",
    "url": "/{{localeInfo.lang}}/about"
  }]
{% endblock %}
{% block require_page %}pages/party{% endblock %}
