{% extends "layout.html" %}
{% block title %}Party{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster party-banner">
    <img src="../img/img-Party-feature.jpg" alt="Maker Party" />
  </div>

  <div class="ui-section">
    <div class="ui-row">
      <h1>Make something amazing on the web</h1>
      <p>From June 15 to September 15, thousands of people around the world are meeting up, making cool stuff and teaching others at the 2013 Maker Party.</p>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3>Make Something</h3>
        <p>From coding your first line of HTML to building apps that change the world, Maker Party is your chance to connect with a global community of creators. Build something from scratch or remix a project and make it your own.
        <a href="/tools" class="ui-block">Start Making</a>
        </p>
      </div>
      <div class="g-2">
        <h3>Show Off Your Work</h3>
        <p>Tag your work with #makerparty and inspire others. Share your knowledge, show off your creation and feel the love from the Webmaker community.
        <a href="https://mozteach.makes.org/thimble/what-i-made-maker-party" class="ui-block">Share Your Project</a>
        </p>
      </div>
      <div class="g-2">
        <h3>Create With Others</h3>
        <p>The worldwide Maker Party will bring people together at hundreds of events over three months, from workshops, design sprints and code-a-thons to teen tech bashes and father-daughter hack jams. Find a party near you or use our handy event guides to host your own.
        <br><a href="/events" class="ui-block">View Events</a>
        </p>
      </div>
    </div>

    <div class="ui-row">
      <h3>Need Help?</h3>
      <p>
        Contact <a href="mailto:makerparty@mozilla.org">makerparty@mozilla.org</a> with your questions.
      </p>
    </div>

    <div id="summer-of-making" class="ui-row">
      <img src="../img/img-Party-making-summer.png" alt="Summer of Making and Connecting">
      <div>
        <h3>Summer of Making and Connecting</h3>
        <p>Maker Party is a part of the MacArthur Foundation's Make Summer campaign.<br>
        <a href="http://www.makesummer.org/">Learn more.</a></p>
      </div>
    </div>

    <div class="ui-row ui-two-picture-row">
      <div class="g-6">
        <div class="ui-img-box makers-making">
          <figure>
            <img class="ui-img" src="../img/makersmakingthings.jpg" alt="Makers making things">
          </figure>
        </div>
        <div class="ui-img-box maker-party-logo">
          <img src="../img/makerpartygif.gif" alt="Maker Party Logo">
        </div>
      </div>
    </div>
  </div>

  <div class="ui-section">
    <div class="ui-row">
      <h2>Logos and Partner Stuff</h2>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3>Downloads</h3>
        <img src="../img/resource-logo.png">
        <p><strong>Standard logo</strong>
        <br><a class="download" href="/img/MakerPartyLogo.eps">EPS</a> &#183; <a class="download" href="/img/MakerPartyLogo.png">PNG</a>
        </p>
      </div>

      <div class="g-2">
        <h3>&nbsp;</h3>
        <img src="../img/resource-wordmark.png">
        <p><strong>Wordmark only</strong>
        <br><a class="download" href="/img/MakerPartyWordmark.eps">EPS</a> &#183; <a class="download" href="/img/MakerPartyWordmark.png">PNG</a>
        </p>
      </div>

    </div>
  </div>
  <a id="partners"></a>
  <div class="ui-section">
    <div class="ui-row">
      <h2 class="party-partners">Party Partners</h2>
    </div>
    <div class="party-hosts ui-row">
      <h3>Hosts</h3>
      <div class="g-2">
        <a href="//webmaker.org/">
          <img src="/img/mozilla.png" alt="Mozilla" />
        </a>
      </div>
      <div class="g-2">
        <a href="//www.macfound.org/">
          <img src="/img/macarthur.png" alt="Mozilla" />
        </a>
      </div>
      <div class="g-2">
        <a href="//www.nwp.org/">
          <img src="/img/nwp.png" alt="Mozilla" />
        </a>
      </div>
    </div>

    <div class="ui-row">
      <h3>Commitments</h3>
      <div class="commitment-carousel">
        <div class="commitment-carousel-item">
          <img src="/img/img-party-quotes.png" alt="Party Quotes">
          <div class="commitment-carousel-items">
            <div class="commitment-carousel-item">
              <p>Amazon Web Services will commit to provide computing infrastructure for 10 code-a-thons across the US.</p>
              <h4 class="org-name"><a href="http://aws.amazon.com/education/">Amazon</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to reaching 30,000 young people via Apps for Good education
               partners across the UK for the 2013/14 school year</p>
              <h4 class="org-name"><a href="http://www.appsforgood.org/">Apps for Good</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Bare conductive commit to getting 500 people drawing curcuits with conductive paint by 15 Sept</p>
              <h4 class="org-name"><a href="http://www.bareconductive.com/">Bare conductive</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to delivering coding workshops and events to more than 500 girls in 10 cities across the US and Africa.</p>
              <h4 class="org-name"><a href="http://www.blackgirlscode.com/">Black Girls Code</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to provide training sessions, events and mentors to 500 people by September 15th.</p>
              <h4 class="org-name"><a href="http://bristolgameshub.com/">Bristol Games Hub</a></h4>
            </div>            
            <div class="commitment-carousel-item">
              <p>We commit to over 186,300 making and learning engagements with the public this summer, through activities related to our Built for Speed exhibit, family programs, and youth-led design workshops.</p>
              <h4 class="org-name"><a href="http://www.calacademy.org/">California Academy of Sciences</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Youth will engage in 18,200 hours of creative process, making digital learning products, and science-inspired performances.</p>
              <h4 class="org-name"><a href="http://www.calacademy.org/">California Academy of Sciences</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to helping youth learn about tech careers though an online 
                mentorship program with tech professionals</p>
              <h4 class="org-name"><a href="http://careermash.ca/">CareerMash</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to teaching over 1m people the basics of coding with Codecademy.</p>
              <h4 class="org-name"><a href="//www.codecademy.com/">Codecademy</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to delivering Code Club to 15,000 children by September 15th.</p>
              <h4 class="org-name"><a href="http://codeclub.org.uk/">Code Club</a></h4>
            </div>            
            <div class="commitment-carousel-item">
              <p>We commit to provide training sessions to 40 mentors and 390 makers, resulting in 1930 hours of making.</p>
              <h4 class="org-name"><a href="http://m2l.indiana.edu">Creativity Labs at Indiana University</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to deliver training sessions to five hundred primary school teachers by September 15th</p>
              <h4 class="org-name"><a href="http://decoded.co/">Decoded</a></h4>
            </div>            
            <div class="commitment-carousel-item">
              <p>We commit to making 250,000 projects with kids.</p>
              <h4 class="org-name"><a href="https://diy.org/">DIY.org</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to deliver coding club training sessions to 250 people by Sept 15th.</p>
              <h4 class="org-name"><a href="http://www.e-skills.com/">E-Skills</a></h4>
            </div>            
            <div class="commitment-carousel-item">
              <p>Eyebeam commits to educating teens about the open web and the tools available 
                to create content with Forrest Oliphant's Meemoo workshop 'Moving &lt;img&gt; Storytelling.</p>
              <h4 class="org-name"><a href="http://www.eyebeam.org/">Eyebeam</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to make free and low-cost technology and free digital literacy training available to 30M people.</p>
              <h4 class="org-name"><a href="http://www.everyoneon.org/about-us">EveryoneOn / Connect2Compete</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to exposing no less than 200 NYC teens this summer to Digital Making through workshops, camps and overnight Teen Tech Bashes.</p>
              <h4 class="org-name"><a href="http://exposurecamp.org/">Exposure Camp</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to teach 1000 youth how to create new media in the form of 
              mosaics and animated GIFs through in-person training and online  mentorship.</p>
              <h4 class="org-name"><a href="http://www.remixthecity.com/">FabSpaces</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to run workshops to engage 10 Toronto youth to make media to 
                express their thoughts on privacy.  We will hold a wrap party to screen the results with over 30 people.</p>
              <h4 class="org-name"><a href="http://www.ischool.utoronto.ca/">Faculty of Information University of 
                Toronto</a> &amp; <a href="http://www.bgccan.com/EN/Pages/default.aspx">Boys and Girls Clubs of Canada</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to supporting over 200 kids to create a game, app or robot by September 15th.</p>
              <h4 class="org-name"><a href="http://www.firetechcamp.com/">Fire Tech Camp</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to reaching 10,000 young people through a national
               Freeformers Hack Club roll out by September 15th.</p>
              <h4 class="org-name"><a href="http://www.freeformers.com/">Freeformers</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to deliver 3-days of free digital
               making workshops for 800 school children by September 15th.</p>
              <h4 class="org-name"><a href="http://gamesbritannia.com/">Games Britannia</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>Girls Learning Code and Kids Learning Code will reach 250 youth through more 
                than 9 technology camps and  workshops with the aim of exposing kids to code 
                and technology in collaborative, creative and project-based ways!</p>
              <h4 class="org-name"><a href="http://girlslearningcode.com/events">Girls Learning Code and Kids Learning Code</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to running 130 digital making events for 2,700 girls aged 5-17, delivering 2,700 badges.</p>
              <h4 class="org-name"><a href="http://www.girlscoutsgcnwi.org/">Girl Scouts of Greater Chicago and Northwest Indiana</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to delivering two terms of after-school clubs and running holiday clubs &amp; day workshops</p>
              <h4 class="org-name"><a href="http://www.homeroom.org.uk/">HomeRoom</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>Imgaication commit to work with 300 children to build, explore &amp; program an 
                Internet of Things weather station from bare components by September 15th.</p>
              <h4 class="org-name"><a href="http://imagication.org.uk/">Imagication</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to engaging more than 3,000 students through their 'Summer of Making,' including the Maker Faire Education Day, and a girls summer camp focused on making, app development and robotics.</p>
              <h4 class="org-name"><a href="http://www.intel.com/content/www/us/en/education/intel-in-education.html">Intel</a></h4>
            </div>
           <div class="commitment-carousel-item">
              <p>We commit to introduce our passionate Youtube community to Webmaker tools 
                (such as Popcorn Maker) to help them tell Runescape stories through web building by September 15th.</p>
              <h4 class="org-name"><a href="http://www.jagex.com/">Jagex</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to host a digital making competition to 1000 people by Sept 15.</p>
              <h4 class="org-name"><a href="http://www.zsl.org/zsl-london-zoo/">London Zoo/Edge of Existence</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to deliver events to 100 people by September 15th.</p>
              <h4 class="org-name"><a href="http://madlab.org.uk/">MadLab</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to supporting 65,000 young makers share what they make with the world by September 15th.</p>
              <h4 class="org-name"><a href="https://www.makewav.es/">Make Waves</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Maker Education Initiative commits to train mentors to 10,000 people by Sept 15, 2013.</p>
              <h4 class="org-name"><a href="http://makered.org/">Maker Education Initiative</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to delivering a unique hands-on program, supported by  one-on-one  mentors, 
                successful  entrepreneurs and dynamic teachers, for  20 youth ages 13-15</p>
              <h4 class="org-name"><a href="http://www.marsdd.com/futureleaders">MaRS Discover</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to exhibiting 500,000 new stories, games, and animations, programmed by kids all over the world, on our Scratch online community (<a href="http://scratch.mit.edu">http://scratch.mit.edu</a>).</p>
              <h4 class="org-name"><a href="http://media.mit.edu/">MIT Media Lab</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to shaping new learning resources supporting young makers in MOUSE Programs nationally that will reach over 4,000 youth and educators and to showcase 150 youth makers at Emoti-Con! 5 with partners from Hive NYC.</p>
              <h4 class="org-name"><a href="http://mouse.org/">MOUSE</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to engage 150,000 Webmakers and 5,000 mentors through the Maker Party 2013 campaign.</p>
              <h4 class="org-name"><a href="http://mozilla.org">Mozilla</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to providing summer camps for 13,000 youth, giving them the opportunity to write and create media on the web and in community writing centers.</p>
              <h4 class="org-name"><a href="http://digitalis.nwp.org ">National Writing Project</a></h4>
            </div>
            <div class="commitment-carousel-item">  
              <p>We commit to deliver seven, 3-hour Digital Maker Workshops with the potential reach 60 students, and one Learning Lab Pop-Up that will reach 50 students.</p>
              <h4 class="org-name"><a href="http://www.nysci.org/">New York Hall of Science</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to working with Hive NYC to provide Maker Parties and Events for up to 850 NYC Summer Quest students.</p>
              <h4 class="org-name"><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Education</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to working with Hive NYC to promote Maker Parties and Events to the 16,750 middle school youth served by DYCD-funded summer programs.</p>
              <h4 class="org-name"><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Youth and Community Development</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to inspiring and teaching 100,000 young people digital skills</p>
              <h4 class="org-name"><a href="http://www.o2thinkbig.co.uk/">O2 Think Big</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to investing $200,000 to train 80 youth in digital storytelling through film, poetry, music, and transmedia.</p>
              <h4 class="org-name"><a href="http://www.reelworks.org/rw/">Reel Works</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Through our National STEM Video Game Challenge, we commit to expand our efforts by 100% to rural, urban, and suburban communities through workshops and enhanced video game making tools.</p>
              <h4 class="org-name"><a href="http://www.joanganzcooneycenter.org/">Sesame Workshop: Joan Ganz Cooney Centre</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to providing online training on core technical making skills to 50,000 people.</p>
              <h4 class="org-name"><a href="http://skillcrush.com/">Skillcrush</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to creating a project to promote to our 15m UK strong community by September 15th.</p>
              <h4 class="org-name"><a href="http://www.stardoll.com/en/">StarDoll</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Techmix magazine - organiser of Digital Summer Camp - commits to helping 
                Make Things Do Stuff reach 3,000+ schools, students and young people this summer.</p>
              <h4 class="org-name"><a href="http://techmixmag.com/magazine">TechMix</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to deliver workshops to 2600 young people by September15th.</p>
              <h4 class="org-name"><a href="http://www.technocamps.com/">TechnoCamps</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to prototyping 3 new kits geared toward young people and testing 
                these in workshop with over 125 young people by September 15th.</p>
              <h4 class="org-name"><a href="http://technologywillsaveus.org/">Technology Will Save Us</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to engage &amp; excite 1,600 students through the TeenTech programme by September 15th.</p>
              <h4 class="org-name"><a href="http://www.teentechevent.com/">TeenTech</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>In partnership with the New York Hall of Science, will train 15 teachers and community educators to use designing and making processes to teach STEM K-8 students at expanded day schools in New York City.</p>
              <h4 class="org-name"><a href="http://www.expandedschools.org/">The After School Corporation (TASC)</a></h4>
            </div>
            <div class="commitment-carousel-item on">
              <p>In partnership with NYU Poly Technic Institute, we will design and deliver a credit-bearing course for over 20 New York City high school students in which teens learned computing and mechanical engineering skills by making things.</p>
              <h4 class="org-name"><a href="http://www.expandedschools.org/">The After School Corporation (TASC)</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>In July and August, the students will teach a similar course to over 400 younger kids attending New York City summer camps.</p>
              <h4 class="org-name"><a href="http://www.expandedschools.org/">The After School Corporation (TASC)</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>Through the Hive Days of Summer campaign, The Sprout Fund commits to helping more than 15 organizations throw more than 115 events reaching more than 1,200 kids.</p>
              <h4 class="org-name"><a href="http://sproutfund.org">The Sprout Fund</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to providing a new collection of STEM and digital making learning resources for our 850,000 registered PBS Learning Media users.</p>
              <h4 class="org-name"><a href="http://www.thirteen.org/edonline/">WNET / Thirteen.org</a></h4>
            </div>
            <div class="commitment-carousel-item">
              <p>We commit to helping over 200 youth create and celebrate with digital media 
                and moving image in the summer of 2013.</p>
              <h4 class="org-name"><a href="http://www.tiff.net/summercamp/">TIFF</a></h4>
            <div class="commitment-carousel-item">
              <p>We commit to hosting 1000 kids and 300 mentors 
                at the UK's largest youth coding event, our Festival of Code by September 15th.</p>
              <h4 class="org-name"><a href="youngrewiredstate.org">Young Rewired State</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-row extra-padding">
      <h3>Partners</h3>
      <div class="commitment-list-column g-2">
        <ul>
          <li class="commitment">
          <h4 class="org-name"><a href="http://aws.amazon.com/education/">Amazon</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.appsforgood.org/">Apps for Good</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://bankstreet.edu/">Bank Street College</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.bareconductive.com/">Bare conductive</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.blackgirlscode.com/">Black Girls Code</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.bgccan.com/EN/Pages/default.aspx">Boys and Girls Clubs of Canada</a></h4>
          </li> 
          <li class="commitment">
          <h4 class="org-name"><a href="http://bristolgameshub.com/">Bristol Games Hub</a></h4>
          </li>          
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.burberryplc.com/corporate_responsibility/burberry_foundation">Burberry Foundation</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://careermash.ca/">CareerMash</a></h4>
          </li>          
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.calacademy.org/">California Academy of Sciences</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="//www.codecademy.com/">Codecademy</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://codeclub.org.uk/">Code Club</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://m2l.indiana.edu">Creativity Labs at Indiana University</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://decoded.co/">Decoded</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="https://diy.org/">DIY.org</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.e-skills.com/">E-Skills</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.everyoneon.org/about-us">EveryoneOn / Connect2Compete</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://exposurecamp.org/">Exposure Camp</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.eyebeam.org/">Eyebeam</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.remixthecity.com/">FabSpaces</a></h4>
          </li>            
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.ischool.utoronto.ca/">Faculty of Information University of Toronto</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.firetechcamp.com/">Fire Tech Camp</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.freeformers.com/">Freeformers</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://gamesbritannia.com/">Games Britannia</a></h4>
          </li>
        </ul>
      </div>
      <div class="commitment-list-column right g-2">
        <ul>
          <li class="commitment">
          <h4 class="org-name"><a href="http://girlslearningcode.com/events">Girls Learning Code and Kids Learning Code</a></h4>
          </li>          
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.girlscoutsgcnwi.org/">Girl Scouts of Greater Chicago and Northwest Indiana</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://good.is/neighboring">Good</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.homeroom.org.uk/">HomeRoom</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://imagication.org.uk/">Imagication</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.imls.gov/">IMLS</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.intel.com/content/www/us/en/education/intel-in-education.html">Intel</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.jagex.com/">Jagex</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.kauffman.org/">Kauffman Foundation</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.zsl.org/zsl-london-zoo/">London Zoo/Edge of Existence</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://madlab.org.uk/">MadLab</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="https://www.makewav.es/">Make Waves</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://makered.org/">Maker Education Initiative</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.marsdd.com/futureleaders">MaRS Discover</a></h4>
          </li>          
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.media.mit.edu/">MIT Media Lab</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://mouse.org/">MOUSE</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.mozilla.org/">Mozilla</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://digitalis.nwp.org ">National Writing Project</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.nysci.org/">New York Hall of Science</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Education</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Youth and Community Development</a></h4>
          </li>
        </ul>
      </div>

      <div class="commitment-list-column right g-2">
        <ul>
          <li class="commitment">
          <h4 class="org-name"><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: Fund for Public Schools</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.o2thinkbig.co.uk/">O2 Think Big</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.reelworks.org/rw/">Reel Works</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.joanganzcooneycenter.org/">Sesame Workshop: Joan Ganz Cooney Centre</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://skillcrush.com/">Skillcrush</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.stardoll.com/en/">StarDoll</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://techmixmag.com/magazine">TechMix</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.technocamps.com/">TechnoCamps</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://technologywillsaveus.org/">Technology Will Save Us</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.teentechevent.com/">TeenTech</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.expandedschools.org/">The After School Corporation (TASC)</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://sproutfund.org">The Sprout Fund</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.tiff.net/summercamp">TIFF</a></h4>
          </li>          
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.telecentre.org/">Telecentre.org</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.thirteen.org/edonline/">WNET / Thirteen.org</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="youngrewiredstate.org">Young Rewired State</a></h4>
          </li>
          <li class="commitment">
          <h4 class="org-name"><a href="http://www.ymcanyc.org/">YMCA NYC</a></h4>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "Tools",
    "desc": "Create an original or a remix using Popcorn Maker and Thimble.",
    "image": "/img/cta-Tools.jpg",
    "url": "/tools"
  },
  {
    "title": "Events",
    "desc": "Find an event near you or host your own.",
    "image": "/img/cta-Party.jpg",
    "url": "/events"
  },
  {
    "title": "Teach",
    "desc": "Teach the world digital literacy and webmaking.",
    "image": "/img/cta-Teach.jpg",
    "url": "/teach"
  },
  {
    "title": "About",
    "desc": "Learn more about who we are and what makes us tick.",
    "image": "/img/cta-About-us.jpg",
    "url": "/about"
  }];
{% endblock %}
{% block require_page %}pages/party{% endblock %}
