{% extends "layout.html" %}
{% block title %}Party{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster party-banner">
    <img src="../img/banner-party.jpg" alt="Maker Party" />
  </div>

  <div class="ui-section">
    <div class="ui-row">
      <h1>Introducing Maker Party</h1>
      <p>From June 15 to September 15, thousands of people around the world are
      meeting up, making cool stuff and teaching others at the 2013 Maker Party.</p>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3>Make It</h3>
        <p>From coding your first line of HTML to building apps that change the world,
        Maker Party is your chance to connect with a global community of creators. Build
        something from scratch or remix a project and make it your own.
        <a href="#" class="ui-block">View Makes</a>
        </p>
      </div>
      <div class="g-2">
        <h3>Share It</h3>
        <p>You don’t need to be a coding wizard to inspire others with your work. Share
        your knowledge, show off your creation and feel the love from the Webmaker community.
        <a href="#" class="ui-block">View Hacktivity Kits</a>
        </p>
      </div>
      <div class="g-2">
        <h3>Party</h3>
        <p>The worldwide Maker Party consists of hundreds of events over three months, from
        workshops, design sprints and code-a-thons to teen tech bashes and father-daughter
        hack jams. Find a party near you or use our handy event guides to host your own.
        <br><a href="#" class="ui-block">View Events</a>
        </p>
      </div>
    </div>

    <div class="ui-row ui-two-picture-row">
      <div class="g-6">
        <div class="ui-img-box makers-making">
          <figure>
            <img class="ui-img" src="../img/makersmakingthings.jpg" alt="Makers making things">
            <figcaption>Makers making things.</figcaption>
          </figure>
        </div>
        <div class="ui-img-box maker-party-logo">
          <img class="ui-img" src="../img/makerpartygif.gif" alt="Maker Party Logo">
        </div>
      </div>
    </div>
  </div>

  <div class="ui-section">
    <div class="ui-row">
      <h2>Goodies</h2>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3>Downloads</h3>
        <img src="../img/resource-logo.png">
        <p><strong>Standard logo</strong>
        <br><a class="download" href="#">EPS</a> &#183; <a class="download" href="#">PNG</a>
        </p>
      </div>

      <div class="g-2">
        <h3>&nbsp;</h3>
        <img src="../img/resource-wordmark.png">
        <p><strong>Wordmark only</strong>
        <br><a class="download" href="#">EPS</a> &#183; <a class="download" href="#">PNG</a>
        </p>
      </div>

      <div class="g-2">
        <h3>Stay up to date</h3>
        <div class="party-up-to-date">
          <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-section">
    <div class="ui-row">
      <h2 class="party-partners">Party Partners</h2>
      <a href="#">See all partners</a>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <p>
        Bacon ipsum dolor sit amet corned beef bacon sirloin ball tip tri-tip. Shank flank beef ribs pancetta ground round corned beef kielbasa. Chicken corned beef ball tip kielbasa. Filet mignon sausage frankfurter tenderloin bacon. Pork tongue chuck, t-bone pastrami flank tail chicken strip steak.
        <br><a href="#">Visit DIY.org</a>
        </p>
      </div>
      <div class="g-2">
        <p>
        Bacon ipsum dolor sit amet corned beef bacon sirloin ball tip tri-tip. Shank flank beef ribs pancetta ground round corned beef kielbasa. Chicken corned beef ball tip kielbasa. Filet mignon sausage frankfurter tenderloin bacon. Pork tongue chuck, t-bone pastrami flank tail chicken strip steak.
        <br><a href="#">Visit DIY.org</a>
        </p>
      </div>
      <div class="g-2">
        <p>
        Bacon ipsum dolor sit amet corned beef bacon sirloin ball tip tri-tip. Shank flank beef ribs pancetta ground round corned beef kielbasa. Chicken corned beef ball tip kielbasa. Filet mignon sausage frankfurter tenderloin bacon. Pork tongue chuck, t-bone pastrami flank tail chicken strip steak.
        <br><a href="#">Visit DIY.org</a>
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block scripts %}
{% endblock %}
