{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block midbar %}
<div class="search-poster{% if hasQuery %} focus{% endif %}" data-query="{{query}}">
  <div class="ui-wrapper">
    <div class="giant-search-container">
      <h1 class="main-title">What are you looking for?</h1>
      <form class="search-wrapper" action="" method="get">
        <div id="search-type" class="search-filter">
          <input type="hidden" name="type" value="{{ searchType }}">
          <span data-selected><span class="icon-{{ searchType }}"></span></span>
          <span class="icon-caret-down"></span>
          <div class="filter-list ui-select-menu">
            <ul>
              <li data-value="tags"><span class="icon-tags"></span> Tags</li>
              <li data-value="user"><span class="icon-user"></span> Users</li>
            </ul>
          </div>
        </div>
        <input id="search-field" type="text" name="q" class="giant-search" autocomplete="off">
        <button type="submit" class="search-btn"><span class="icon-search"></span></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  <h3 class="search-title"> Search {{searchType}} / <span class="search-query-word">
	{% if searchType == 'tags' %}
	{{ query|join(', ') }}
	{% else %}
	{{ query }}
	{% endif %}
  </span></h3>
  <div class="main-gallery packery-hide search-gallery">
    <div class="gutter-sizer"></div>
    {% for make in makes %}
    <div class="make {{makeSize}}" style="background-image:url({{make.thumbnail}});">
      <div class="make-info">{{make.title}} by <a class="user-link" data-username="{{make.username}}">@{{make.username}}</a></div>
      <div class="btn-container">
        <a href="{{make.url}}" class="ui-btn fork-btn"><span class="icon icon-code-fork"></span></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if makes.length == 0%}
  <div class="no-makes">No makes :(</div>
  {% else %}
    <div class="ui-row pagination">
      <ol class="pagination-list">
        <!--
        Needs range implemented in nunjucks
        <li class="selected"></li>
        <li></li>
        -->
        {% if pagination > 1 %}
        <li class="previous-page"><span class="icon-arrow-left"></span> Newer</li>
        {% endif %}
        <li class="next-page">Older <span class="icon-arrow-right"></span></li>
      </ol>
    </div>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
