{% extends "layout.html" %}
{% include "macros.html" %}
{% block title %}{{ gettext("Search") }}{% endblock %}
{% block midbar %}
<div class="search-poster focus {% if hasQuery %} focus{% endif %}" data-query="{{query}}">
  <div class="ui-wrapper">
    <div class="giant-search-container">
      <h1 class="main-title">{{ gettext("What are you looking for?") }}</h1>
      <form class="search-wrapper" method="get">
        <div id="search-type" class="search-filter">
          <input type="hidden" name="type" value="{{ searchIcon }}">
          <span data-selected><span class="icon-{{ searchIcon }}"></span></span>
          <span class="icon-caret-down"></span>
          <div class="filter-list ui-select-menu">
            <ul>
              <li data-value="all"><span class="icon-all"></span>  {{ gettext("All") }}</li>
              <li data-value="title"><span class="icon-title"></span> {{ gettext("Title") }}</li>
              <li data-value="description"><span class="icon-description"></span> {{ gettext("Description") }}</li>
              <li data-value="tags"><span class="icon-tags"></span> {{ gettext("Tags") }}</li>
              <li data-value="user"><span class="icon-user"></span> {{ gettext("Users") }}</li>
            </ul>
          </div>
        </div>
        <input id="search-field" type="text" name="q" class="giant-search" autocomplete="off">
        <button type="submit" class="search-btn"><span class="icon-search"></span></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  <h3 class="search-title"> {{ gettext("Search") }} {{searchType}} / <span class="search-query-word">
  {{ query }}
  </span></h3>
  <div class="main-gallery search-gallery" data-total-hits="{{totalHits}}" data-limit="{{limit}}">
    <div class="gutter-sizer"></div>
    {% for make in makes %}
      {% if make %}
        {% include ("make-templates/make-search.html") %}
      {% endif %}
    {% endfor %}
  </div>
  {% if makes.length == 0%}
  <div class="no-makes">{{ gettext("No makes found.") }}</div>
  {% else %}
    <div class="ui-row pagination"><ul></ul></div>
  {% endif %}
</div>
{% endblock %}
{% block require_page %}pages/search{% endblock %}
