{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}{{ gettext("Teach") }}{% endblock %}
{% block midbar %}

{% set header = gettext("teachHeader") %}
{% set desc = gettext("teachDesc") %}

{{ galleryHeader(header, desc) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  {% include "gallery.html" %}
</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "{{ gettext("Become a Mentor") }}",
    "desc": "{{ gettext("Provide direct feedback to learners of any age from around the world") }}",
    "image": "/img/cta-Mentor.jpg",
    "url": "/{{lang}}/mentor"
  },
  {
    "title": "{{ gettext("Maker Party")}}",
    "desc": "{{ gettext("From now to September 15, join other webmakers in a global Maker Party.") }}",
    "image": "/img/cta-Party.jpg",
    "url": "/{{lang}}/party"
  },
  {
    "title": "{{ gettext("Get Involved")}}",
    "desc": "{{ gettext("Access support and connect with the Webmaker community.") }}",
    "image": "/img/cta-Get-Involved.jpg",
    "url": "/{{lang}}/getinvolved"
  },
  {
    "title": "{{ gettext("Use our Tools") }}",
    "desc": "{{ gettext("Create an original or a remix using Popcorn Maker and Thimble.") }}",
    "image": "/img/cta-Tools.jpg",
    "url": "/{{lang}}/tools"
  }];
{% endblock %}
{% block require_page %}pages/teach{% endblock %}
