{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}Teach{% endblock %}
{% block midbar %}
{{ galleryHeader("Let's Teach the Web Together.", "You don't need to be a wizard to help others. We've got resources to help teach digital literacy, webmaking, online storytelling and more.",
      [{'title': 'Filter projects by...', 'value': 'dummy', 'default': true },
       { 'title': 'Featured', 'value': 'featured' },
       { 'title': 'Popcorn', 'value': 'popcorn' },
       { 'title': 'Thimble', 'value': 'thimble' } ]) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  <div class="main-gallery">

    <div class="gutter-sizer"></div>
    <div class="no-makes-found">No makes were found!</div>
    <div class="loading-cat g-4"></div>

    <div id="banner-teach" class="packery-hide g-4">
      <img src="/img/webmaker-community.jpg" alt="Webmaker Community"><div class="joinBorder"></div>
      <p>We're a <a href='/about'/>global community</a> of friendly humans on a mission to  help people learn the building blocks of the web.<br><a href='/mentor'>
        <button class='ui-blue-btn'>Explore our mentoring program <i class='icon-angle-right'></i></button></a>
      </p>
    </div>

    {% for make in makes %}
      {% include "make-templates/make-teach.html" %}
    {% endfor %}

  </div>
</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "Become a Mentor",
    "desc": "Provide direct feedback to learners of any age from around the world",
    "image": "/img/cta-Mentor.jpg",
    "url": "/mentor"
  },
  {
    "title": "Maker Party",
    "desc": "From now to September 15, join other webmakers in a global Maker Party.",
    "image": "/img/cta-Party.jpg",
    "url": "/party"
  },
  {
    "title": "Get Involved",
    "desc": "Access support and connect with the Webmaker community.",
    "image": "/img/cta-Get-Involved.jpg",
    "url": "/getinvolved"
  },
  {
    "title": "Use our Tools",
    "desc": "Create an original or a remix using Popcorn Maker and Thimble.",
    "image": "/img/cta-Tools.jpg",
    "url": "/tools"
  }];
{% endblock %}
{% block require_main %}{% endblock %}
{% block scripts %}
<script>
  requirejs.config({baseUrl: '/js'});
  require(['app'], function (app) {
    require(['pages/teach']);
  });
</script>
{% endblock %}
