{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}Teach{% endblock %}
{% block midbar %}
{{ galleryHeader("Let's Teach the Web Together.", "You don't need to be a wizard to help others. We've got resources to help teach digital literacy, webmaking, online storytelling and more.",
      [{'title': 'Filter projects by...', 'value': 'dummy', 'default': true },
       { 'title': 'Featured', 'value': 'featured' },
       { 'title': 'Popcorn', 'value': 'popcorn' },
       { 'title': 'Thimble', 'value': 'thimble' } ]) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
  {% include "gallery.html" %}
</div>
{% endblock %}
{% block CTA %}
  [{
    "title": "Become a Mentor",
    "desc": "Provide direct feedback to learners of any age from around the world",
    "image": "/img/cta-Mentor.jpg",
    "url": "/mentor"
  },
  {
    "title": "Maker Party",
    "desc": "From now to September 15, join other webmakers in a global Maker Party.",
    "image": "/img/cta-Party.jpg",
    "url": "/party"
  },
  {
    "title": "Get Involved",
    "desc": "Access support and connect with the Webmaker community.",
    "image": "/img/cta-Get-Involved.jpg",
    "url": "/getinvolved"
  },
  {
    "title": "Use our Tools",
    "desc": "Create an original or a remix using Popcorn Maker and Thimble.",
    "image": "/img/cta-Tools.jpg",
    "url": "/tools"
  }];
{% endblock %}
{% block require_page %}pages/teach{% endblock %}
