{% extends "layout.html" %}
{% block title %}Learn{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-poster"></div>

  <div class="ui-section">

    <div class="ui-row">
      <h1>Make something amazing with the web.</h1>
      <div class="subtitle">Mozilla webmaker wants to help you make something amazing with the web. This is what the style should look like if this paragraph is two lines. It can have a <a href="google.ca">link</a> or two.</div>
    </div>

    <div class="ui-row">
      <h3>This page contains:</h3>
      <ul class="ui-ul">
        <li>Why become a mentor?</li>
        <li>What do mentors do?</li>
        <li>What are the criteria for earning the Webmaker Mentor badge?</li>
        <li>Apply for the badge. Use this form to apply for your badge.</li>
      </ul>
    </div>

    <div class="ui-row">
      <h2>Mozilla Webmaker offers:</h2>
    </div>

    <div class="ui-row">
      <div class="g-2">
        <h3>Tools</h3>
        <p>Authoring tools and software, designed and built with our community. From supercharging web video with Popcorn Maker, to exploring and remixing with the X-Ray Goggles, to making your own web pages with Thimble. Like a Swiss Army knife or “superhero utility belt” for webmaking.</p>
      </div>
      <div class="g-2">
        <h3>Projects</h3>
        <p>Practical starter projects, how-tos and recipes, designed to help people at all levels make something amazing. From tweaking your blog template to building apps that change the world.</p>
      </div>
      <div class="g-2">
        <h3>Community</h3>
        <p>Bringing people with diverse skills and backgrounds together. Teachers, filmmakers, journalists, youth. From web ninjas to newbies. Connecting at events, meet-ups and hack jams everywhere.</p>
      </div>
    </div>

    <div class="ui-row">
      <h2>Meet the Webmakers</h2>
      <img class="ui-img" src="http://farm6.staticflickr.com/5135/5584640691_f6ab51cf18_b.jpg">
    </div>

    <div class="ui-row">
      <div class="ui-box">
        <div class="ui-circle-frame" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/a/ad/RichardFrancisBurton.jpeg)"></div>
        <div class="quote-container">
          <blockquote>Mucking around in HTML is like making bread from scratch or changing a tire. They’re acts of understanding and joy.</blockquote>
          <cite>Meredith Stewart <span class="ui-citation-title">Teacher</span></cite>
        </div>
      </div>
    </div>

    <h2>Form elements</h2>
    <h3>Selects</h3>
    <div class="ui-row">
      <div class="g-3">
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3" selected>3</option>
          <option value="stuff">4</option>
        </select>
        <select id="select-test">
          <option value="1">1</option>
          <option value="2">2</option>
          <option selected>3</option>
          <optio value="stuff">4</option>
        </select>
      </div>
      <div class="g-3">
        <pre class="ui-code">
<select id="something">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="whatever" selected>3</option>
  <option value="four">4</option>
</select>

UI.select( '#something', function( val ) {
  console.log( val );
});
        </pre>
      </div>
    </div>
    <div class="ui-row">

    </div>
  </div>
</div>
{% endblock %}
