{% extends "layout.html" %}
{% block title %}Terms of Use{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-section">

    <div class="ui-row">
      <h1>Webmaker Terms</h1>
      <h3>June 15, 2013</h3>
      <p>At Mozilla, we are committed to promoting choice and innovation on the 
        web and helping users realize the full potential of the web.  That’s why 
        we created Webmaker – a site where users can learn about web technologies 
        by submitting and mashing up their content and allowing others to mash 
        up their content using web technologies.</p>

      <p>As a user, your use of Webmaker is subject to the terms and conditions 
        of this Terms of Use as well as the related policies referred to in 
        these Terms or elsewhere on Webmaker (we will refer to these 
        collectively as the “Terms”).</p>

      <h2>Eligibility</h2>
      <p>By using Webmaker, you agree that you are at least 18 years old or are 
        acting with the consent and supervision of your parent; and you have full 
        power, capacity, and authority to accept these Terms on behalf of yourself, 
        or if applicable, your employer or other entity that you represent.</p>

      <h2>Modifications to the Terms</h2>
      <p>We reserve the right to change these Terms at our sole discretion, 
        and if we do make material changes, we will notify you of those changes 
        prior to those terms coming into effect.</p>

      <h2>Privacy</h2>
      <p>You will be required to provide information about yourself 
        (such as identification or contact details) to us as part of your 
        registration for and use of Webmaker. We will handle your information as 
        we describe in <a href="/privacy">Webmaker Privacy</a></p>

      <h2>Your Submissions</h2>
      <p>You may upload or embed comments, profile pictures and other content 
        as a part of the features of Webmaker (“Your Submissions”). In order to 
        provide you with service - by uploading Your Submissions, you hereby 
        grant us a non-exclusive, worldwide, sublicensable royalty free license 
        to use Your Submissions in connection with the provision and promotion 
        of Webmaker and to provide that content to Mozilla or any successor 
        host or operator of Webmaker. </p>

      <p>You acknowledge that as a part of the functionality of Webmaker, some, 
        if not all of Your Submissions may be re-used by others. Because of this, 
        you hereby grant every user of the Webmaker a non-exclusive, worldwide, 
        sublicensable royalty free license to use Your Submissions in connection 
        the functionality available through Webmaker. In the future, we may 
        provide you with options to add Creative Commons or other licensing 
        options with respect to Your Submissions.</p>

      <p>You represent and warrant that your use of Webmaker and Your 
        Submissions will NOT: (i) be obscene, or contain graphic depictions 
        of violence or sexuality, (ii) violate the intellectual property, 
        proprietary, publicity, privacy or any other rights of Mozilla or any 
        third party, (iii) be designed to harm Mozilla or other users, (iv) 
        violate any law or regulation, (v) be deceptive or fraudulent, (vi) 
        harm children in any way, (vii) degrade, intimidate, incite violence 
        against, or encourage prejudicial action against someone or a group 
        based on age, gender, race, ethnicity, national origin, religion, 
        sexual orientation, disability, religion, geographic location or 
        other protected category or constitutes hate speech or (viii) 
        is otherwise objectionable to Mozilla.</p>

      <h2>User names</h2>
      <p>Webmaker allows you to create a username as one of Your Submissions. 
        Your username will also provide you with a subdomain based on that username.</p>

      <p>You may not impersonate others with your username in a manner that 
        does or is intended to mislead, confuse, or deceive others and we 
        reserve the right to reclaim usernames on behalf of businesses or 
        individuals that hold legal claim or trademark on those usernames. 
        You may not buy or sell usernames or engage in squatting 
        (creating usernames for the purpose of preventing others from using them).</p>

      <h2>Events</h2>
      <p>Webmaker provides tools that enable our users to arrange physical 
        meetings at various venues. We do not supervise these meetings and 
        are not involved in any way with the actions of any individuals at 
        these meetings. As a result, we have no control over the identity or 
        actions of the individuals who are present at these meetings, and we 
        request that you exercise caution and good judgment when attending them.</p>

      <p>Except for events at which we explicitly state the contrary, you 
        acknowledge that we: (i) do not supervise or control the meetings or 
        interactions between users (sometimes even if the events use the 
        term “Mozilla” or “Moz” in the title), (ii) are not involved in any 
        way with physical transportation to or from meetings or with the actions 
        of any individuals at those meetings, (iii) do not control users or 
        have the ability to verify the true identity, age, nationality or other 
        information of users and (iv) do not control the quality, safety, 
        morality, legality, truthfulness or accuracy of 
        meetings or people attending them. </p>

      <h2>Digital Millennium Copyright Act Notice</h2>
      <p>If you are a copyright owner or an agent of a copyright owner and believe 
        that content available by means of one of Mozilla’s websites infringes one 
        or more of your copyrights, please immediately notify Mozilla’s Copyright 
        Agent by means of emailed, mailed, or faxed notice ("DMCA Notice") and 
        include the information described below. You can review 17 U.S.C. § 512(c)(3) 
        of the Digital Millennium Copyright Act for authoritative detail, or 
        consult your own attorney if you need assistance. If Mozilla takes action 
        in response to a DMCA Notice, it will make a good faith attempt to contact 
        the party that made such content available by means of the most recent 
        email address, if any, provided by such party to Mozilla. You may be held 
        liable for damages based on certain material misrepresentations contained 
        in a DMCA Notice. Thus, if you are not sure content located on or 
        linked to by the website infringes your copyright, 
        you should consider first contacting an attorney.</p>

      <p>All DMCA Notices should include the following:</p>

      <ol>
        <li>A signature, electronic or physical, of the owner, or a person 
          authorized to act on behalf of the owner, of an exclusive copyright 
          right that is being infringed;</li>
        <li>An identification of the copyrighted work or works that you claim 
          have been infringed;</li>
        <li>A description of the nature and location of the material that you 
          claim to infringe your copyright, in sufficient detail to permit Mozilla 
          to find and positively identify that content, including the URL where 
          it is located;</li>
        <li>Your name, address, telephone number, and email address where we 
          can contact you; and</li>
        <li>A statement by you: (i) that you believe in good faith that the use 
          of the material that you claim infringes your copyright is not authorized 
          by law, or by the copyright owner or such owner's agent; and, (ii) 
          that all of the information contained in your DMCA Notice is accurate, 
          and under penalty of perjury, that you are either the owner of, or a 
          person authorized to act on behalf an owner of, the exclusive copyright 
          right that is being infringed.</li>
      </ol>

      <p>Mozilla's designated Copyright Agent to receive notifications of 
        claimed infringement is as follows:</p>

        <i>Office of the General Counsel<br>
          Mozilla Corporation<br>
          650 Castro Street, Suite 300<br>
          Mountain View, CA 94041<br>
          Email: dmcanotice at mozilla dot com<br>
          Phone Number: 650-903-0800<br>
          Fax: 650-903-0875
        </i>

        <p>If you fail to comply with all of the requirements of a DMCA notice, 
          Mozilla may not act upon your notice.</p>

        <p>Mozilla will terminate a user's account if, under appropriate 
          circumstances, they are determined to be a repeat infringer.</p>

        <p>The contact information provided above also applies to notices 
          that are based on non-U.S. copyrights or trademarks.</p>

        <p>Only DMCA Notices, Trademark Notices (which are defined below), and 
          international copyright or trademark notices should go to the copyright agent.</p>

        <p>Please be advised that any DMCA Notices sent to Mozilla may be sent to 
          third parties (including the accused) and posted on the Internet 
          (including at <a href="http://www.chillingeffects.org">http://www.chillingeffects.org/</a>).</p>

        <h2>Trademark Notices</h2>
        <p>The Terms will continue to apply until terminated by either you or Mozilla.</p>

        <p>You may end your legal agreement with Mozilla regarding Webmaker at 
          any time for any reason by deactivating your accounts and discontinuing 
          your use of Webmaker. You do not need to specifically inform Mozilla 
          when you stop using Webmaker. If you stop using Webmaker without 
          deactivating your accounts, your accounts may be 
          deactivated due to prolonged inactivity.</p>

        <p>We may suspend or terminate your accounts or cease providing you 
          with all or part of Webmaker at any time for any reason, including, 
          but not limited to, if we reasonably believe: (i) you have violated 
          these Terms, (ii) you create risk or possible legal exposure for us; 
          or (iii) our provision of Webmaker to you is no longer commercially 
          viable. We will make reasonable efforts to notify you by the email 
          address associated with your account or the next time you 
          attempt to access your account.</p>

        <p>In all such cases, the Terms shall terminate, including, without 
          limitation, your license to use Webmaker, except that the following 
          sections shall continue to apply: Release and Indemnification, 
          Disclaimer; Limitation of Liability, Governing Law, Miscellaneous.</p>

        <p>In addition, Mozilla may stop (permanently or temporarily) providing 
          Webmaker (or any of its features) to you or to users generally and may 
          not be able to provide you with prior notice.</p>

        <h2>General Representation and Warranty</h2>
        <p>You represent and warrant that your use of Webmaker will be in accordance 
          with these Terms, with any applicable laws and regulations, and with 
          any other applicable policy or terms and conditions.</p>

        <h2>Release and Indemnification</h2>
        <p>You release Mozilla, its officers, employees, agents and successors 
          from claims, demands and damages of every kind or nature arising out 
          of or related to any disputes with other users, including with respect 
          to any meetings you may wish to attend. You further waive any and all 
          rights and benefits otherwise conferred by any statutory or non-statutory 
          law of any jurisdiction that would purport to limit the scope of a 
          release or waiver.</p>

        <p>You agree to defend, indemnify and hold harmless Mozilla, its contractors 
          and its licensors, and their respective directors, officers, employees 
          and agents from and against any and all third party claims and expenses, 
          including attorneys' fees, arising out of your use of Webmaker, 
          including but not limited to out of your violation of any representation 
          or warranty contained in these Terms.</p>

        <h2>Release and Indemnification</h2>
        <p>You release Mozilla, its officers, employees, agents and successors 
          from claims, demands and damages of every kind or nature arising out 
          of or related to any disputes with other users, including with respect 
          to any meetings you may wish to attend. You further waive any and all 
          rights and benefits otherwise conferred by any statutory or non-statutory 
          law of any jurisdiction that would purport to limit the scope of a release or waiver.</p>

        <p>You agree to defend, indemnify and hold harmless Mozilla, its 
          contractors and its licensors, and their respective directors, 
          officers, employees and agents from and against any and all third 
          party claims and expenses, including attorneys' fees, arising out 
          of your use of Webmaker, including but not limited to out of your 
          violation of any representation or warranty contained in these Terms.</p>

        <h2>Disclaimer; Limitation of Liability</h2>
        <p>EXCEPT AS OTHERWISE EXPRESSLY STATED, INCLUDING BUT NOT LIMITED TO 
          IN A LICENSE OR OTHER AGREEMENT GOVERNING THE USE OF SPECIFIC CONTENT, 
          ALL CONTENT LOCATED AT OR AVAILABLE FROM WEBMAKER IS PROVIDED "AS IS," 
          AND MOZILLA, ITS CONTRACTORS AND ITS LICENSORS MAKE NO REPRESENTATIONS 
          OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO 
          WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
          TITLE OR NON-INFRINGEMENT OF PROPRIETARY RIGHTS. WITHOUT LIMITING 
          THE FOREGOING, MOZILLA, ITS CONTRACTORS AND ITS LICENSORS MAKE NO 
          REPRESENTATION OR WARRANTY THAT CONTENT LOCATED ON WEBMAKER IS FREE 
          FROM ERROR OR SUITABLE FOR ANY PURPOSE; NOR THAT THE USE OF SUCH 
          CONTENT WILL NOT INFRINGE ANY THIRD PARTY COPYRIGHTS, TRADEMARKS OR 
          OTHER INTELLECTUAL PROPERTY RIGHTS. YOU UNDERSTAND AND AGREE THAT YOU 
          DOWNLOAD OR OTHERWISE OBTAIN CONTENT THROUGH MOZILLA'S WEBSITES AT 
          YOUR OWN DISCRETION AND RISK, AND THAT MOZILLA, ITS CONTRACTORS AND 
          ITS LICENSORS WILL HAVE NO LIABILITY OR RESPONSIBILITY FOR ANY DAMAGE 
          TO YOUR COMPUTER SYSTEM OR DATA THAT RESULTS FROM THE 
          DOWNLOAD OR USE OF SUCH CONTENT.</p>

        <p>EXCEPT AS OTHERWISE EXPRESSLY STATED, INCLUDING BUT NOT LIMITED TO 
          IN A LICENSE OR OTHER AGREEMENT GOVERNING THE USE OF SPECIFIC CONTENT, 
          IN NO EVENT WILL MOZILLA, ITS CONTRACTORS OR ITS LICENSORS BE LIABLE 
          TO YOU OR ANY OTHER PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, 
          CONSEQUENTIAL OR EXEMPLARY DAMAGES, REGARDLESS OF THE BASIS OR NATURE 
          OF THE CLAIM, RESULTING FROM ANY USE OF WEBMAKER, OR THE CONTENTS 
          THEREOF OR OF ANY HYPERLINKED WEB SITE, INCLUDING WITHOUT LIMITATION 
          ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF DATA OR OTHERWISE, 
          EVEN IF MOZILLA, ITS CONTRACTORS OR ITS LICENSORS WERE EXPRESSLY 
          ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

        <p>SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES 
          OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CERTAIN INCIDENTAL OR 
          CONSEQUENTIAL DAMAGES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

        <h2>Governing Law</h2>
        <p>These Terms shall be governed by the laws of the State of California 
          without regard to conflict of law principles. The provisions of the 
          United Nations Convention on the International Sale of Goods and the 
          Uniform Computer Information Transactions Act, however designated, 
          are excluded and shall not apply to this Agreement or any transactions 
          hereunder. You agree to submit to the personal and exclusive jurisdiction 
          of the state courts and federal courts located within Santa Clara County, 
          California for the purpose of litigating any claims or disputes.</p>

        <h2>Miscellaneous</h2>
        <p>You may not assign your rights or delegate its obligations under these Terms.  
          These Terms are not intended to benefit, nor shall it be deemed to give 
          rise to, any rights in any third party. Our relationship is that of 
          independent contractors:  these Terms shall not be construed to create 
          a joint venture or partnership between the parties.  Neither party shall 
          be deemed to be an employee, agent, partner or legal representative of 
          the other for any purpose and neither shall have any right, power or 
          authority to create any obligation or responsibility on behalf of the other. 
          These Terms constitute the entire agreement between the parties with 
          respect to the subject matter hereof.  These Terms supersede, and govern, 
          any other prior or collateral agreements with respect to the subject 
          matter hereof. If any provision of these Terms are held or made invalid 
          or unenforceable for any reason, such invalidity shall not affect the 
          remainder of these Terms, and the invalid or unenforceable provisions 
          shall be replaced by a mutually acceptable provision, which being valid, 
          legal and enforceable comes closest to the original intentions of the 
          parties hereto and has like economic effect.  The failure of either party 
          at any time or times to require performance of any provision hereof shall 
          in no manner affect the right at a later time to enforce the same.  
          No waiver by either party of the breach of any term or covenant contained 
          in these Terms, whether by conduct or otherwise, in any one or more instances, 
          shall be deemed to be, or construed as, a further or continuing waiver 
          of any such breach or a waiver of the breach of any other term 
          or covenant contained in these Terms.</p>

    </div>
  </div>
</div>

{% endblock %}
