{% extends "layout.html" %}
{% include 'macros.html' %}
{% block title %}{{ gettext("Tools") }}{% endblock %}
{% block midbar %}
{% set header = gettext("toolsHeader") %}
{{ galleryHeader(header, "", []) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body-nobg">

  <div class="ui-bg-column column-tools">
    <header>
      <img id="img-xray" src="/img/icon-tools-xray-2x.png" alt="{{ gettext("X-Ray Goggles") }}">
      <h2>{{ gettext("X-Ray Goggles") }}</h2>
      <h3>{{ gettext("X-Ray Desc") }}</h3>
    </header>
    <p>{{ gettext("toolsXrayDesc") }}</p>
    <h3>{{ gettext("You can build:") }}</h3>
    <ul>
      <li>{{ gettext("a custom homepage for the New York Times") }}</li>
      <li>{{ gettext("an alternate version of a controversial webpage")}}</li>
      <li>{{ gettext("a funny remix of your best friend's favourite site") }}</li>
      <li>{{ gettext("and more!") }}</li>
    </ul>
    <div class="tools-action">
      <h3>{{ gettext("Get started") }}</h3>
      <div class="btn-container">
        <a href="https://goggles.webmaker.org/" class="ui-btn fork-btn fork-btn-label remix-btn">
          {{ gettext("Try the Goggles")}} <span class="icon-angle-right"></span></a>
      </div>
    </div>
  </div>
  <div class="ui-bg-column column-tools">
    <header>
      <img src="/img/icon-tools-thimble-2x.png" alt="{{ gettext("Thimble") }}">
      <h2>{{ gettext("Thimble") }}</h2>
      <h3>{{ gettext("Webmaking made easy") }}</h3>
    </header>
    <p>{{ gettext("toolsThimbleDesc") }}</p>
    <h3>{{ gettext("You can build:") }}</h3>
    <ul>
      <li>{{ gettext("a personalized greeting card") }}</li>
      <li>{{ ("an online poster for your favourite movie")}}</li>
      <li>{{ gettext("a hilarious meme") }}</li>
      <li>{{ gettext("and more!") }}</li>
    </ul>
    <div class="tools-action">
      <h3>{{ gettext("Get started") }}</h3>
      <div class="btn-container">
        <a href="https://thimble.webmaker.org/" class="ui-btn fork-btn fork-btn-label remix-btn">
          {{ gettext("Start from scratch")}} <span class="icon-angle-right"></span></a>
      </div>
      <div class="btn-container">
        <a href="/{{lang}}/search?type=tags&q=webmaker%3Atemplate" class="ui-btn fork-btn fork-btn-label"><span class="icon-code-fork"></span> {{ gettext("Remix a project") }}</a>
      </div>
    </div>
  </div>
  <div class="ui-bg-column column-tools">
    <header>
      <img id="img-popcorn" class="popcorn" src="/img/icon-tools-popcorn-2x.png" alt="{{ gettext("Popcorn Maker") }}">
      <h2>{{ gettext("Popcorn Maker") }}</h2>
      <h3>{{ gettext("Supercharge web video") }}</h3>
    </header>
    <p>{{ gettext("toolsPMDesc") }}</p>
    <h3>{{ gettext("You can build:") }}</h3>
    <ul>
      <li>{{ gettext("an animated gif with sound") }}</li>
      <li>{{ gettext("a documentary with dynamic links") }}</li>
      <li>{{ gettext("vdo-profile") }}</li>
      <li>{{ gettext("and more!") }}</li>
    </ul>
    <div class="tools-action">
      <h3>{{ gettext("Get started") }}</h3>
      <div class="btn-container">
        <a href="https://popcorn.webmaker.org/editor/" class="ui-btn fork-btn fork-btn-label remix-btn">
          {{ gettext("Start from scratch")}} <span class="icon-angle-right"></span></a>
      </div>
      <div class="btn-container">
        <a href="/{{lang}}/search?type=tags&q=webmaker%3Atemplate" class="ui-btn fork-btn fork-btn-label">
          <span class="icon-code-fork"></span> {{ gettext("Remix a project") }}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block CTA %}
[{
"title": "{{ gettext("Get Involved") }}",
"desc": "{{ gettext("Get Involved Desc") }}",
"image": "/img/cta-Get-Involved.jpg",
"url": "/{{lang}}/getinvolved"
},
{
"title": "{{ gettext("Teach") }}",
"desc": "{{ gettext("Teach Desc") }}",
"image": "/img/cta-Teach.jpg",
"url": "/{{lang}}/teach"
},
{
"title": "{{ gettext("Maker Party") }}",
"desc": "{{ gettext("Maker Party Desc")}}",
"image": "/img/cta-Party.jpg",
"url": "/{{lang}}/party"
},
{
"title": "{{ gettext("About Us") }}",
"desc": "{{ gettext("About Us Desc") }}",
"image": "/img/cta-About-us.jpg",
"url": "/{{lang}}/about"
}]
{% endblock %}
