{% extends "layout.html" %}
{% block title %}Tools{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-section">

    <div class="ui-row">
      <h1>Webmaker helps you create something original or remix pieces of the web</h1>
    </div>

    <div class="ui-row">
      <div class="g-3">
        <header>
          <img src="../img/thimble-logo.png" alt="Thimble">
          <h2>Thimble</h2>
          <h3>Webmaking made easy</h3>
        </header>
        <p>Thimble makes it ridiculously simple to create and share your own web pages.
        Write and edit HTML and CSS right in your browser, then instantly preview your work.
        Host and share your finished projects with a single click. Perfect for beginners and experts alike.</p>
        <a href="http://thimble.webmaker.org/">Get started</a>
      </div>
      <div class="g-3">
        <header>
          <img src="../img/popcorn-logo.png" alt="Popcorn">
          <h2>Popcorn Maker</h2>
          <h3>Supercharge web video</h3>
        </header>
        <p>Popcorn Maker helps you easily remix web video. Drag and drop content from the web, then add your own
        comments and links —all within your browser. Popcorn Maker videos are dynamic, full of links and unique
        with every view.</p>
        <a href="https://popcorn.webmaker.org/">Get started</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
