@import "mixins";
@import "webfonts";
@import "headerfooter";
@import "ui";
@import "template";
@import "search";

/*********************************************************
 * BODY
 */
body {
  background: #e3eaee;
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #27aae1;
  text-decoration: none;
}

.webmaker-outer-wrapper {
  overflow: hidden; // This is so the box-shadow on the header doesn't look bad with Tabzilla
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}


/*********************************************************
 * MAIN
 */

#content {
  margin-bottom: 40px;
  position: relative;
  width: 100%;

  #index & {
    padding: @gutter * @unit;
  }

  > .clone-item {
    display: none;
  }
}

.gallery-header {
  position: relative;
  margin: 30px 10px 0 10px;
  height: 100px;
  .border-box;

  .wrapper {
    width: 100%
  }

  .header {
    float: left;
    padding-bottom: 10px;
    .width( 6 );

    h1, p {
      display: inline;
      margin-right: 10px;
    }

    h1 {
      font-family: 'Open Sans Light';
      font-size: 2.125em;
      color: @green;
    }

    p {
      font-size: 17px;
      color: @grey;
      line-height: 30px;

      a {
        text-decoration: underline;
      }
    }
  }

  .filter {
    float: right;
    z-index: 3;
    margin-top: 10px;
    height: 70px;
    width: 210px;
    background: @green;

    label {
      position: relative;
      margin-left: 10px;
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      color: #FFF;
    }

    #search-filter {
      left: 10px;
    }
  }

}

/*********************************************************
 * MAKE
 */

@make-border-size: 5px;
@make_height: 150px;
@make_width: 640px;

.main-gallery:after {
  content: ' ';
  display: block;
  clear: both;
}

.make {
  color: #FFF;
  position: relative;
  overflow: hidden;

  .border-radius;
  .border-box;
  .box-shadow(0, 2px, 2px, #BBB);
  .perspective(800px);

  a {
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
}

.gutter-sizer {
  width: 20px;
}

.grid-sizer {
  width: 20px;
}

.flipContainer {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.make-item-title {
  color: #FFF;
  text-shadow: #000 1px 1px;
  position: absolute;
  bottom: 0;
  left: 2px;
}

.front,
.back {
  .backface-visibility(hidden);
  .border-radius;
  bottom: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.front {
  left: 0;
  right: 0;
  position: relative;
  height: 100%;

  img {
    .border-radius;
    width: 100%;
  }

  .share-icon {
    width: 25px;
    height: 25px;
    z-index: 3;
    position: absolute;
    bottom: 2px;
    left: 2px;

  }
}

.back {
  color: #4E4E4E;
  background: #FFF;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  .rotateY(180deg);

  .description, .author {
    font-size: 12px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.flip {
  .rotateY(180deg);
}

.popcorn {
  border-bottom: @make-border-size solid #FFEA00;
}

.thimble {
  border-bottom: @make-border-size solid green;
}

.challenge {
  border-bottom: @make-border-size solid #FFA200;
}

.event {
  border-bottom: @make-border-size solid #27AAE1;
}

.guide {
  border-bottom: @make-border-size solid pink;
}

.demo {
  border-bottom: @make-border-size solid #000;
}

.thimble {
  border-bottom: @make-border-size solid #63D9E5;
}

.default {
  border-bottom: @make-border-size solid #FFF;
}

p {
  margin: 0;
  padding: 0;
}

@ratio: 0.5625;

.large {
  height: @ratio * 515px;
  width: 500px;
}

.medium {
  height: @ratio * 240px;
  width: 240px;
}

.small {
  height: @ratio * 99px;
  width: 110px;

  .flipContainer {
    p, h3 {
      display: none;
    }
  }
}

.make-back-small {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/bkgFooter.jpg');
  .see-more{
    float: left;
    position: relative;
    top: 7px;
    left: 10px;
    font-size: 15px;
    color: #77797c;
  }

  .make-small-arrow {
    background: url('../img/right-arrow.png');
    width: 9px;
    height: 18px;
    position: relative;
    bottom: 18px;
    right: 10px;
    float: right;
  }
}

#banner-join {
  background-color: #b7251b;
  color: #FFF;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  text-align: center;
  height: 135px;
  left: 0;
  top: 155px;
  width: 500px;
  padding-top: 15px;
  padding-bottom: 15px;

  h1, h2 {
    font-family: 'Open Sans Light', "Helvetica Neue", sans-serif;
    margin: 0;
  }

  h1 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1px
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
  }

  .sign-up-div {
    width: 100%;
    text-align: left;

    .sign-up-span {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      margin-left: 70px;
    }

    .form-div {
      margin-left: 5px;
      padding-top: 10px;
      display: inline-block;
      height: 30px;
      .border-box;

      input {
        height: 30px;
        width: 150px;
        font-size: 13px;
        padding-left: 5px;
        border: 2px solid #FFF;
        float: left;
        .border-box;
      }

      button {
        height: 30px;
        font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
        width: 88px;
        font-weight: 200;
        border: 2px solid white;
        float: left;
        cursor: pointer;
        margin: 0;
        padding: 0;
        background: #27aae1;
        color: #FFF;
        font-size: 16px;
      }
    }
  }

}

#banner-teach {
  height: 420px;
  position: absolute;
  right: 0;
  top: 440px;
  width: 500px;

  p {
    background-color: #FFF;
    color: #27AAE1;
    font-size: 20px;
    height: 60px;
    margin-top: 3px;
    overflow: hidden;
    padding: 10px;
  }
}

#teach {
  .make {
    background-color: #FFF;
    height: 420px;

    .preview-img {
      clear: both;
      float: left;
      height: 129px;
      overflow: hidden;
      padding: 5px 5px 0 5px;
    }

    .title, p {
      clear: both;
      float: left;
      overflow: hidden;
      padding: 5px;
    }

    .level-info {
      height: 25px;
    }

    .skills-info {
      height: 50px;
    }

    .info {
      background-image: url('../img/bkgFooter.jpg');
      color: #838383;
      margin-bottom: 3px;
      width: 230px;

      b, span {
        display: inline-block;
        float: left;
      }

      span {
        width: 150px;
      }

      b {
        width: 80px;
      }
    }

    .title {
      font-size: 18px;
      height: 70px;
      line-height: 24px;
      margin: 15px 5px;
    }

    .author-info {
      color: #838383;
      font-size: 14px;
    }

    .info {
      margin: 3px 0;
    }

    .actions {
      bottom: 5px;
      position: absolute;
      right: 5px;

      a {
        background-color: #73B5E5;
        color: #FFF;
        display: block;
        float: left;
        font-size: 12px;
        margin-left: 3px;
        padding: 2px 0;
        text-align: center;
        width: 80px;
      }
    }
  }
}

@media (max-width: 640px) {
  .mobile {
    display: none;
  }
}
