<!doctype html>
<html lang="{{lang}}" dir="{{direction}}" ng-app="exploreApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind-html="'Explore' | i18n"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- We have to do this to make sure we display the page when localization has been loaded. -->
    <style>
      html, body {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- Note: this file is rendered with Less middleware can be found at /less/explore/main.less -->
    <link rel="stylesheet" ng-href="/css/explore/main.{{direction}}.css">
</head>
<body ng-app="exploreApp">

  <div ng-controller="createUserController"></div>

  <div class="wrapper" ng-controller="navigationController">
    <div class="explore-nav">
      <nav class="navbar navbar-default navbar-webmaker">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-bars fa-lg"></span>
            </button>
            <a href="{{webmakerUrl}}/{{lang}}" class="logo webmaker-logo"><img src="https://webmaker.org/img/logo.png"></a>
          </div>

          <div class="navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" ng-cloak ng-show="_user.email">
                <a class="navbar-user-info dropdown-toggle">
                  <img class="user-info-avatar" ng-src="{{_user.avatar}}"> {{ 'Hi' | i18n }} <strong>{{_user.username}}</strong> <span class="label label-primary" ng-show="_user.isAdmin">admin</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/me" target="_blank"><span class="fa fa-th-large"></span> {{ 'My makes' | i18n }}</a></li>
                  <li><a href="{{accountSettingsUrl}}" target="_blank"><span class="fa fa-cog"></span> {{ 'My Settings' | i18n }}</a></li>
                  <li class="divider"></li>
                  <li><a ng-click="logout()"><span class="fa fa-sign-out"></span> {{ 'Sign out' | i18n }}</a></li>
                </ul>
              </li>
              <li>
                <button ng-cloak ng-show="!_user.email" class="btn btn-primary btn-sm navbar-btn" ng-click="login()">{{'Sign in' | i18n }}</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-inverse navbar-no-header-xs">
        <div class="container">
          <div class="navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
              <li class="active nav-icon"><a href="#!"><span class="fa fa-random"></span> {{ 'Explore' | i18n }}</a></li>
              <li class="nav-icon" ><a href="/resources"><span class="fa fa-hand-o-up"></span> {{ 'Make' | i18n }}</a></li>
              <li class="nav-icon"><a href="/teach"><span class="fa fa-book"></span> {{ 'Teach' | i18n }}</a></li>
              <li class="nav-icon"><a href="/events"><span class="fa fa-map-marker"></span> {{ 'Events' | i18n }}</a></li>
              <li class="nav-icon"><a href="/about"><span class="fa fa-info"></span> {{ 'Info' | i18n }}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <section class="main">
      <div class="explore-sidebar">
        <ul ng-cloak ng-class="{ unselected: isUnselected() }" class="explore-sidebar-nav nav nav-stacked">
          <li class="sidebar-header">
            <h4><span class="star"></span> <a href="#/">{{ 'Web Literacy Skills' | i18n }}</a></h4>
            <p bind-unsafe-html="'SidebarHeaderDesc' | i18n"></p>
          </li>
          <li
            ng-repeat="skill in literacies"
            class="literacy"
            ng-class="{ active : isActive(skill.tag) }"
            style="background-color: {{ skill.color }}">
            <a href="#/competencies/{{ skill.tag }}">{{ skill.term }}</a>
          </li>
          <li
            ng-class="{ active : isActive('/add') }"
            style="background-color: #000">
            <a href="#/add"><span class="fa fa-plus"></span> {{ 'Add your own' | i18n }}</a>
          </li>
        </ul>
      </div>

      <div class="explore-main" ng-view=""></div>
    </section>

  </div>

  <script src="../angular-config.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script src="compiled/dependencies.min.js"></script>
  <script src="compiled/app.min.js"></script>

</body>
</html>
