{% extends "layout.html" %}
{% block title %}{{ gettext("New User") }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/user/newaccount.css">
{% endblock %}
{% block midbar %}{% endblock %}
{% block body %}
<div class="wm-user-panel">
  <div class="ui-wrapper ui-body">
      <div id="poster" class="ui-section">
        <img id="claim-image" src="/img/img-Get-Involved-feature.jpg" alt="{{ gettext("Get Involved") }}">
          <div id="claim-message">
            <h1>{{ gettext("Claim your webmaker space") }}</h1>
            <div class="form-wrapper">
            <form id="sso_create" action="{{personaSSO}}/user" method="POST">
              <div id="claim-label"><input id="claim-input" placeholder="{{ gettext("you") }}" type="text" name="username" required> .makes.org</div>

              <p id="error-container"></p>

             <div class="checkboxes">
              <div class="row">
                <input type="checkbox" name="bsd" id="bsd" class="inline">
                <label for="bsd" class="inline">{{ gettext("Send me email updates") }}</label>
              </div>
              <div class="row">
                <input type="checkbox" name="terms" id="terms" class="inline" required>
                <label for="terms" class="inline">{{ gettext("I agree to your terms") | instantiate | safe }}</label>
              </div>
            </div>
            <p><button type="submit" class="sign-up" class="ui-btn">{{ gettext("Sign up") }}</button></p>
          </form>
          </div>
        </div>

      </div>
      <div class="ui-section">
        <div class="ui-row">
          <div class="subtitle">{{ gettext("9 Ways to get Involved parapgraph") }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block require_main %}{% endblock %}
{% block scripts %}
<script>
  requirejs.config({
    baseUrl: "/js",
    paths: {
      'jquery': '/ext/js/jquery-1.9.1',
      'sso-ux': '{{loginAPI}}/js/sso-ux'
    },
    shim: {
      'sso-ux': ['jquery']
    }
  });
  require(['user/new']);
</script>
{% endblock %}
