
/*********************************************************
* To be merged in makerstrap
*/

.text-primary {
  color: @brand-primary
}
.text-white {
  color: white;
}
.text-lightgrey {
  color: @lightgrey;
}
.text-secondary {
  color: @navy;
}

.text-center-xs {
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
}

.flex-center {
  .flex-display();
  .align-items(center);
  .justify-content(center);
}

.nowrap {
  white-space: nowrap;
}

// Use in badges application modal
dd {
  margin-bottom: @line-height-computed;
}

/*********************************************************
* Navbar
*/
.navbar-btn {
  margin-right: 1em;
}

.navbar-affix-top {
  @media (min-width: @screen-sm-min) {
    .navbar-fixed-top;
  }
}

.mobile-skills-nav li {
  padding-left: 15px;
  padding-right: 15px;
}

/* ===========
* Modal
*/
@modal-inner-padding: 40px;
@modal-title-padding: 40px;
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.modal-footer {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.modal {
  .form-group {
    margin-bottom: @line-height-computed;
  }
}

/* ===========
* Carousel
*/
.carousel-indicators {
  li, li.active {
    margin-right: 3px;
    &:last-child {
      margin-right: 0;
    }
  }
}
