.navbar-footer {
  background-color: @navy;
  padding-bottom: 3rem;

  ul {
    float: left;
    list-style: none;
    margin-right: 6rem;
    padding: 0;
  }

  li {
    padding-bottom: 2rem;
  }

  a {
    &:link, &:visited {
      color: fade(@white, 80%);
    }
    &:hover, &:active, &:focus {
      color: @white;
    }
  }
  .moz-logo {
    float: right;
    margin-top: 1.6rem;
    @media screen and (min-width: 25em) {
      margin-top: 0;
    }
  }
}

.navbar-nav {
  @media screen and (min-width: @screen-sm-min) {
    float: none;
  }
  > li {
    @media screen and (min-width: @screen-sm-min) {
      text-align: center;
    }
    &.nav-icon {
      > a {
        font-size: 1.6rem;
      }
    }
  }
}
