@formHeight:  45px;
@inputHeight: 34px;

body#events.map form#find-event {
    display: block;
    line-height: @formHeight;
    white-space: nowrap;
    padding-right: 6px;

    .header {
        display:    inline-block;
        color:      #fff;

        .icon-search {
            color: #888;
            margin-left: -1px;
            margin-right: 2px;
        }
    }
    .ui-input {
        overflow:   hidden;
        height:     @inputHeight;
        margin-bottom: 2px;
        margin-right: 2px;
        padding:    0px 10px;

        .pointer-icon {
            position: relative;
            top:    6px;
            left:   -4px;
            width:  18px;
            vertical-align: top;
        }
        .calendar-icon {
            position: relative;
            top:    10px;
            width:  16px;
            vertical-align: top;
        }
        input {
            padding:    0px 0px 0px 6px;

            font-size:  14.5px;

            &[name="when"] { .ui-small; }
            &[name="where"] { .ui-medium; }
        }
        .icon-remove {
            .clickable;
            color:          rgba(0, 0, 0, 0.07);
            font-size:      18px;
            line-height:    @inputHeight;
        }
    }
    button[type="submit"].icon-chevron-right {
        height: @inputHeight;
        width:  @inputHeight;

        font-size:  18px;
        vertical-align: middle;
    }
}
