<div class="jumbotron" style="background: {{skill.colour}}">
  <div class="container">
    <h1>{{ skill.name }}</h1>
    <p>{{ skill.description }}</p>
  </div>
</div>

<div>

  <div class="container">

    <h2 class="page-header">{{ 'Kits' | i18n }}</h2>

    <div ng-hide="kits.length" class="well well-create-kit text-center">
      <button class="btn btn-default btn-create-kit"><span class="fa fa-plus"></span></button>
      <p class="text-muted" ng-bind-html="'noStaffPick' | i18n"></p>
    </div>

    <tabset>
      <tab ng-if="kits.length" heading="{{ 'Staff picks' | i18n }}">
        <div class="row">
          <a target="_blank" href="{{kit.url}}" ng-repeat="kit in kits" class="thumbnail thumbnail-horizontal row">
            <div class="icon">
              <span class="fa fa-sitemap"></span>
            </div>
            <div class="col-xs-10">
              <div class="caption">
                <h3>{{kit.title}}</h3>
                <p class="text-muted">
                  <span class="badge"
                    ng-repeat="tag in kit.tags">
                    #{{tag | decodeURI}}
                  </span>
                </p>
                <p class="text-muted">{{kit.description}}</p>
                <p ng-show="kit.likes.length" class="text-primary">
                  <span class="fa fa-check"></span> {{kit.likes.length}}
                  <span ng-show="kit.likes.length === 1">{{ 'Endorsement' | i18n }}</span>
                  <span ng-show="kit.likes.length > 1">{{ 'Endorsements' | i18n }}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </tab>
      <tab heading="{{ 'Most endorsed' | i18n }}">
        <a target="_blank" href="{{kit.url}}" ng-repeat="kit in makes" class="thumbnail thumbnail-horizontal row">
          <div class="icon">
            <span class="fa fa-sitemap"></span>
          </div>
          <div class="col-xs-10">
            <div class="caption">
              <h3>{{kit.title}}</h3>
              <p class="text-muted">
                <span class="badge"
                  ng-repeat="tag in kit.tags">
                  #{{tag | decodeURI}}
                </span>
              </p>
              <p class="text-muted">{{kit.description}}</p>
              <p ng-show="kit.likes.length" class="text-primary">
                <span class="fa fa-check"></span> {{kit.likes.length}}
                <span ng-show="kit.likes.length === 1">{{ 'Endorsement' | i18n }}</span>
                <span ng-show="kit.likes.length > 1">{{ 'Endorsements' | i18n }}</span>
              </p>
            </div>
          </div>
        </a>
      </tab>
     </tabset>

     <p><button class="pull-right btn btn-primary">
         <span class="fa fa-plus"></span> {{ 'Add a kit' | i18n }}
       </button></p>

  </div>

  <div class="container">

    <div class="peoples">
      <h2 class="page-header">{{ 'Featured mentors' | i18n }}</h2>

      <div class="row text-center">

        <div ng-repeat="mentor in mentors" class="col-xs-4 col-sm-3">
          <ex-avatar class="mentor">
            <img class="laurel laurel-left" src="/img/explore/laurel-leaves-left.svg">
            <img class="laurel laurel-right" src="/img/explore/laurel-leaves-right.svg">
            <img ng-src="{{mentor.avatar}}" alt="{{mentor.name}}" class="img-circle img-mentor-avatar">
            <div class="mentor-gif" style="background-image:url({{mentor.gif}})"></div>
          </ex-avatar>

          <p>{{mentor.name}}<br>
          <span class="text-muted">{{mentor.title}}</span></p>
        </div>

        <div class="col-xs-4 col-sm-3">
          <div class="mentor-circle-btn">
            <span>{{ 'Nominate' | i18n }}</span>
            <img src="/img/explore/brett.jpg">
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
