<div class="container container-push-down">
  <h1><a href="{{baseUrl}}admin/badges">{{ "Badges Admin" | i18n }}</a> / {{ badge.name }}</h1>

  <div class="error badges-error alert alert-danger" ng-show="badgesError">
    <p>{{ "BadgesError" | i18n }} <span class="error-message">{{ badgesError }}</span></p>
  </div>

  <div class="row">
    <div class="col-md-7">
      <h2 class="section-header">Pending Applications</h2>
      <table class="table table-striped table-hover table-responsive">
        <thead>
          <th>{{ "Date" | i18n }}</th>
          <th>{{ "Application" | i18n }}</th>
        </thead>
        <tbody>
          <tr ng-repeat="application in applications | orderBy:'-created'" ng-click="reviewApplication(application)">
            <td class="nowrap">{{ application.created | date : 'MMM d'}}</td>
            <td>
              <p><strong>{{ application.learner }}</strong></p>
              <p class="visible-lg"><em>{{ application.evidence[0].reflection }}</em></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2 class="section-header">Issued Badges</h2>
      <form class="panel panel-default">
        <div class="panel-body">
          <p>
            <label for="issue_email">{{ "Email" | i18n }}</label>
            <input name="issue_email" ng-model="issueEmail" class="form-control" placeholder="email@domain.com">
          </p>
          <button class="btn btn-success pull-right" ng-click="issueBadge(issueEmail)">
            <span class="icon icon-plus"></span> {{ "Issue new badge"| i18n }}
          </button>
        </div>
      </form>

      <table class="table table-issued-badges table-responsive">
        <thead>
          <tr>
            <th>{{ "Email" | i18n }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in instances">
            <td>{{ instance.email }}</td>
            <td class="text-right">
              <button ng-if="_user.isAdmin" class="btn btn-default" ng-click="revokeBadge(instance.email)"><span class="fa fa-times"></span><span class="sr-only">{{ "Revoke" | i18n }}</span></button>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>

</div>
