.made-with-code {
  color: @grey;
  font-family: @primary-font;
  font-size: 1.6rem;
  position: relative;

  h1, h2, h3 {
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  h2 {
    color: @brand-primary;
    font-size: 3.2rem;
  }

  h3 {
    font-size: 3.4rem;
    font-weight: 300;
  }

  header {
    p {
      font-size: 2rem;
      font-weight: 300;
    }
    strong {
      font-weight: 400;
    }
  }

  img {
    display: block;
    margin: 1rem auto 2rem;
  }

  p {
    line-height: 1.8;
  }

  strong {
    font-weight: 700;
  }

  ol {
    list-style: none;
    counter-reset: remix-steps;
    padding-left: 1.8rem;
    li {
      .container-fluid;
      margin-bottom: 3rem;
      position: relative;
      &::before {
        background: @lightgrey;
        border-radius: 50%;
        content: counter(remix-steps);
        counter-increment: remix-steps;
        display: block;
        font-size: 0.75em;
        left: -1.7em;
        line-height: 2.3;
        height: 2.5em;
        text-align: center;
        position: absolute;
        top: 0;
        width: 2.5em;
      }
    }
    figure {
      .row;
    }
  }

  .get-started {
    padding-left: 3.3rem;
    @media screen and (min-width: @screen-sm-min){
      margin-top: 0;
    }
  }

  footer {
    background: @lightgrey;
    bottom: 0;
    color: @grey;
    left: 0;
    padding-bottom: 3rem;
    padding-top: 2rem;
    position: relative;
    right: 0;
    h3 {
      color: @brand-primary;
      font-size: 3.1rem;
      font-weight: 300;
    }
    ul {
      padding-left: 2rem;
    }
  }
}

.mwc-top {
  margin: 4rem auto;
  position: relative;
  @media screen and (min-width: 37em) {
    min-height: 35.2rem;
    padding-right: 22rem;
  }
  @media screen and (min-width: @screen-lg-min) {
    margin-bottom: 0;
  }
}

.mwc-logo-block {
  display: block;
  margin: 4rem auto;
  width: 20rem;

  @media screen and (min-width: 37em) {
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

[sample-make] {
  margin-bottom: 4rem;
  @media screen and (min-width: @screen-sm-min) {
    margin-top: 1.3rem;
  }
}
