<nav class="navbar-footer">
  <div class="container">
    <ul>
      <li><a href="/{{lang}}/about">{{ 'About' | i18n }}</a></li>
      <li><a href="/{{lang}}/mentor">{{ 'Teach' | i18n }}</a></li>
      <li><a href="https://sendto.mozilla.org/page/contribute/join-mozilla?source=join_link">
        {{ 'Donate' | i18n }}
      </a>
    </li>
    <li><a href="mailto:help@webmaker.org">{{ 'Contact' | i18n }}</a></li>
    <li><a href="https://www.mozilla.org/privacy/websites">{{ 'Privacy' | i18n }}</a></li>
    <li><a href="/{{lang}}/terms">{{ 'Legal' | i18n }}</a></li>
    <li>
      <a href="https://support.mozilla.org/products/webmaker">
        {{ 'Help' | i18n }}
      </a>
    </li>
  </ul>
  <ul class="secondary">
    <li><span class="fa fa-twitter"></span><a href="https://twitter.com/webmaker">@webmaker</a></li>
    <li><span class="fa fa-file-text-o"></span><a href="https://blog.webmaker.org">{{ 'Blog' | i18n }}</a></li>
  </ul>
  <div class="moz-logo">
    <a href="https://mozilla.org/">
      <img src="/img/logo-mozilla-white.png" alt="mozilla logo" height="26" width="100"/>
    </a>
  </div>
</div>
</nav>
