<article class="make sample-make">
  <a href="{{ sampleMake.url }}" target="_self">
    <img ng-src="{{ sampleMake.thumbnail }}" alt="{{ sampleMake.title }}"
         class="make-thumbnail"/>
  </a>

  <div class="gallery-info">
    <h3>
      <a class="title" href="{{ sampleMake.url }}" target="_self">
        {{ sampleMake.title }}
      </a>
    </h3>

    <div class="make-meta">
      <img class="data-avatar pull-left" alt="{{ sampleMake.username }}"
           ng-src="{{ sampleMake.emailHash | generateGravatar }}"/>

      <p>
        {{ "Created by" | i18n }}
        <a class="author" href="/u/{{ sampleMake.username }}" target="_self">
          @{{ sampleMake.username }}
        </a>
        <time class="date" am-time-ago="sampleMake.createdAt"
              datetime="{{ sampleMake.createdAt | rfc3339 }}"></time>,
        {{ sampleMake.likes.length }}
        {{ sampleMake.likes | likesText | i18n }}
      </p>
      <p>{{ sampleMake.description }}</p>
    </div>
    <div class="tag-container">
      <span class="fa fa-tags"></span>
      <a ng-repeat="tag in sampleMake.tags | filter: '!tutorial-'" class="tag"
         href="/t/{{ tag }}" target="_self">{{ tag | decode }}</a>
    </div>
    <div class="make-actions btn-container">
      <a class="btn btn-primary" href="{{ sampleMake.remixurl }}">
        <span class="fa fa-code-fork"></span>
        {{ 'Remix' | i18n }}
      </a>
      <a class="btn btn-primary" href="{{ sampleMake.url }}">
        {{ 'Details' | i18n }}
      </a>
    </div>
  </div>
</article>
