<nav class="navbar navbar-default navbar-webmaker">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="collapseToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars fa-lg"></span>
      </button>

      <a href="/{{lang}}" push-state="true" class="logo webmaker-logo"><img src="/img/logo.png"></a>
    </div>

    <div class="navbar-collapse text-center-xs" collapse="primaryCollapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <select class="form-control" language-select ng-model="language" redirect="true"></select>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-cloak ng-show="_user.email">
          <a class="navbar-user-info dropdown-toggle">
          <img class="user-info-avatar" ng-src="{{_user.avatar}}"> {{ 'Hi' | i18n }} <strong>{{_user.username}}</strong>
           <span class="label label-primary" ng-show="_user.isAdmin">admin</span>
           <span class="label label-info" ng-show="!_user.isAdmin && _user.isSuperMentor">supermentor</span>
           <span class="label label-warning" ng-show="!_user.isAdmin && !_user.isSuperMentor && _user.isMentor">mentor</span>
           <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/{{lang}}/me" target="_blank"><span class="fa fa-th-large"></span> {{ 'My makes' | i18n }}</a></li>
            <li><a href="/user/{{_user.username}}"><span class="fa fa-user"></span> {{ 'My Profile' | i18n }}</a></li>
            <li><a href="{{accountSettingsUrl}}" target="_blank"><span class="fa fa-cog"></span> {{ 'My Settings' | i18n }}</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()"><span class="fa fa-sign-out"></span> {{ 'Sign out' | i18n }}</a></li>
          </ul>
        </li>
        <li>
          <button ng-cloak ng-show="!_user.email" class="btn btn-primary btn-sm navbar-btn" ng-click="login()">{{'Sign in' | i18n }}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Secondary nav -->
<nav class="navbar navbar-inverse navbar-no-header-xs">
  <div class="container">
    <div class="navbar-collapse" collapse="secondaryCollapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="section in nav.sections" class="nav-icon" ng-class="{ active: isActiveSection(section.id), dropdown: section.dropdown }">

          <a
            ng-if="!section.dropdown"
            href="{{baseUrl + section.url}}"
            push-state="{{section.pushState}}">
            <span class="fa fa-{{section.icon}}"></span> {{ section.title | i18n }}
          </a>
          <a
            ng-if="section.dropdown"
            href="#"
            class="dropdown-toggle">
            <span class="fa fa-{{section.icon}}"></span> {{ section.title | i18n }}
          </a>

          <ul ng-if="section.dropdown" class="explore-dropdown-menu dropdown-menu">
            <li class="literacy">
              <a href="{{baseUrl}}resources" class="color-10">{{ 'Overview' | i18n }}</a>
            </li>
            <li
              ng-repeat="skill in literacies"
              class="literacy"
              ng-class="{ active : isActivePage(skill.tag) }">
              <a href="{{baseUrl}}resources/literacy/{{ skill.tag }}" push-state="true" class="color-{{$index}}">{{ skill.term }}</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/{{lang}}/search">
            <span class="fa fa-search"></span><span class="sr-only">{{ 'Search' | i18n}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Tertiary nav -->
<nav
  class="navbar navbar-no-header-xs navbar-tertiary"
  wm-affix
  data-offset-top="150"
  data-offset-height="60"
  ng-repeat="section in nav.sections"
  ng-if="section.pages"
  ng-show="isActiveSection(section.id)">

  <div class="container" ng-class="{'show-xs':section.dropdown}">
    <div class="navbar-collapse" collapse="tertiaryCollapse">
      <ul class="nav navbar-nav">
        <!-- Weblit dropdown -->
        <li class="nav-icon nav-title active hidden-xs" ng-hide="!affixed">
          <a href="{{baseUrl + section.url}}" push-state="{{section.pushState}}">
            <span class="fa fa-{{section.icon}}"></span> {{ section.title | i18n }}
          </a>
        </li>
        <li class="nav-title hidden-xs" ng-hide="!affixed">
          <a href="/resources" push-state="true">{{ 'Overview' | i18n }}</a>
        </li>
        <li ng-if="section.id === 'resources'" class="dropdown dropdown-toc hidden-xs">
          <a href="#" class="dropdown-toggle">{{ 'Web Literacies' | i18n }}<span class="caret"></span></a>
          <ul class="explore-dropdown-menu dropdown-menu">
            <li
              ng-repeat="skill in literacies"
              class="literacy"
              ng-class="{ active : isActivePage(skill.tag) }">
              <a href="{{baseUrl}}resources/literacy/{{ skill.tag }}" push-state="true" class="color-{{$index}}">{{ skill.term }}</a>
            </li>
          </ul>
        </li>

        <li ng-repeat="page in section.pages" ng-if="!page.isAtleastMentor || _user.isAdmin || _user.isSuperMentor || _user.isMentor">
          <a href="{{baseUrl + page.url}}" push-state="{{page.pushState}}">{{ page.title | i18n }}</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right hidden-xs" ng-hide="!affixed">
        <div class="form-group">
          <select class="form-control" language-select ng-model="language" redirect="true"></select>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- Resources -->
<nav
  class="navbar navbar-no-header-xs navbar-tertiary"
  wm-affix
  data-offset-top="150"
  data-offset-height="60"
  ng-show="affixed && isActiveSection('resources')">

  <div class="container">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Weblit dropdown -->
        <li class="nav-icon nav-title active hidden-xs" ng-hide="!affixed">
          <a href="{{baseUrl + 'resources'}}" push-state="true">
            <span class="fa fa-book"></span> {{ 'Resources' | i18n }}
          </a>
        </li>
        <li class="nav-title hidden-xs" ng-hide="!affixed">
          <a href="/resources" push-state="true">{{ 'Overview' | i18n }}</a>
        </li>
        <li class="dropdown dropdown-toc hidden-xs">
          <a href="#" class="dropdown-toggle">{{ 'Web Literacies' | i18n }}<span class="caret"></span></a>
          <ul class="explore-dropdown-menu dropdown-menu">
            <li
              ng-repeat="skill in literacies"
              class="literacy"
              ng-class="{ active : isActivePage(skill.tag) }">
              <a href="{{baseUrl}}resources/literacy/{{ skill.tag }}" push-state="true" class="color-{{$index}}">{{ skill.term }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right hidden-xs">
        <div class="form-group">
          <select class="form-control" language-select ng-model="language" redirect="true"></select>
        </div>
      </form>
    </div>
  </div>
</nav>
