<div class="modal-header">
  <h3 class="modal-title">Review application</strong></h3>
</div>
<div class="modal-body">
  <dl>
    <dt>Applicant</dt>
    <dd>{{ application.learner}}</dd>

    <dt>Evidence</dt>
    <dd>
      <p ng-repeat="evidence in application.evidence" ng-bind-html="evidence.reflection | urlsToLinks"></p>
    </dd>
  </dl>

  <form>
    <div class="form-group">
      <label for="decision">Does this evidence satisfy the criteria for the <a target="_blank" href="/badges/{{ application.badge.slug }}">{{ application.badge.name }}</a> badge?<span class="text-danger">*</span></label>
      <div class="radio">
        <label>
          <input type="radio" name="decision" ng-model="review.decision" id="decisionYes" value="yes" checked>
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="decision" ng-model="review.decision" id="decisionNo" value="no">
          No, more work is needed
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Please give this applicant some feedback<span class="text-danger">*</span></label>
      <textarea class="form-control" ng-model="review.comment" name="feedback" required></textarea>
    </div>
  </form>

  <div><em>Here is some <a href="https://teach.etherpad.mozilla.org/responses" target="_blank">boilerplate</a> for responding to applicants.</em></div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!review.decision || !review.comment" ng-click="ok()">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
